.atlas {
  height: 930px;
  width: 100%
}

.listView {
  padding: 5px;
  width: 160px;
  height: 850px;
  overflow-y: auto;
  overflow-x: hidden;
}

.labelCustom {
  font-size: 10px !important;
  margin-bottom: 3px !important;
}

.map-control-group {
  padding: 5px;
  background-color: #F6F6F6;
  border: 1px solid grey;
}

.display-block {
  display: block;
}

.control-indicator {
  margin: 0 2px 0 2px !important;
  font-size: 13px !important;
}
