<div class="main">
	<h1>Let's get some BGP going on</h1>
	<hr>
	<h2>Cool junk:</h2>
	<p ng-repeat="thing in awesomeThings">
		{{thing}}
	</p>
	<br>
	<h4 class="text-primary">At some point in the near future this will be a table with junk in it</h4>
	<br>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>JUNK</th>
				<th>JANK</th>
				<th>JORNK</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Badgers</td>
				<td>Bodgers</td>
				<td>Blingers</td>
			</tr>
			<tr>
				<td>CLANG</td>
				<td>CLEAN</td>
				<td>CLONG</td>
			</tr>
			<tr>
				<td>Badgers</td>
				<td>Bodgers</td>
				<td>Blingers</td>
			</tr>
			<tr>
				<td>Ooft</td>
				<td>He was</td>
				<td>Gooorgeous</td>
			</tr>
		</tbody>
  	</table>
  	<br>
  	<p>Crazy junk.</p>
</div>
