.page-header{
    margin: 0px 0 20px;
}

.router-list {
  display: inline;
  line-height: 5rem;
  font-family: 'CiscoSans';
  text-transform: uppercase;
  .pgtitle {
    display: inline;
    margin-right: 8px;
    }
  .filter-button {
    color: #000;
    margin-top: 8px;
  }
  .peers, .routers {
    background-color: #fff;
    color: #000;
    padding: 6px;
    margin-right: 10px;
    font-size: 1.4rem;
    color: #565a5c;
  }
  .label-danger, .label-success, .label-info  {
    border-radius: 7px;
    padding: 4px 7px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.3rem;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    &.label-danger:hover , &.label-success:hover , &.label-info:hover {
      opacity: 0.9;
    }
      .glyphicon {
        margin-left: 4px;
      }
    }
}
