 div{

  .selectable{
    &:hover {
      color:blue;
    }
    cursor: pointer;
  }

}


.as-path{
	height:250px;
	overflow-x: scroll;
	border: none;
	width:100%;
	padding-top: 75px;
	padding-left: 40px;
		.popover{
		width:200px;
		font-size:12px;
	}
	#menu{
		white-space:pre;
	}
}

.ns-popover-tooltip a {
  text-decoration: none;
}

div.hover {
  background-color: #0096d6;
  border: lightgray solid 1px;
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  color:white;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}


div.section {
  position: relative;
  width: 100%;
  max-width: 62.5em;
  margin: 0 auto;
  padding: 0 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//  background-color: rgba(255, 255, 255, 0.6);
//  z-index: 1001;
//  opacity:0;
//  transition: opacity 0.2s;
//  pointer-events: none;

  @keyframes spin2 {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(72deg);}
    100%{transform: rotate(72deg);}
  }

  .bmp-net{
    animation: spin2 1.5s linear forwards infinite;
    font-size: 80pt;
    color: #ddd;
//    text-shadow: 1px 1px #C3C3C3;
    top: 30%;
  }
