<div>
  <h1>CARD GLOBAL VIEW TEST</h1>
  <hr>

  <!--This is the Router/Peers 'Card' so can use this aswell as the map-->
    <span ng-init="expand=true;" class="glyphicon" ng-class="{'glyphicon-plus': expand, 'glyphicon-minus': !expand}"
          ng-click="expand=!expand;">
    </span>Routers
    <div ng-hide="expand" style="padding-left: 20px;">
      <!--show routers-->
      <div ng-repeat="router in routerList track by $index">
            <span ng-init="expanded=false;" class="glyphicon" ng-class="{'glyphicon-plus': !expanded, 'glyphicon-minus': expanded}"
                  ng-click="expanded=!expanded;">
            </span>
            <span
              class="selectable"
              ng-click="router.type='Router';cardApi.changeCard(router)">
              {{ router.RouterName }} || {{ router.RouterIP }} || {{ router.RouterAS }}
            </span>
        <!--show router peers-->
        <div ng-show="expanded" style="padding-left: 20px;">
              <span ng-init="getRouterPeers($index,router.RouterIP)">
                <div ng-repeat="peer in routerPeers[$index]">
                  <span
                    class="selectable"
                    ng-click="peer.type='Peer';cardApi.changeCard(peer)">
                    {{ peer.PeerName }} || {{ peer.PeerIP }} || {{ peer.PeerASN }}
                  </span>
                </div>
              </span>
        </div>
      </div>
    </div>

    <div bmp-card-list
         length="[4,1]"
         priority="['Peer','Router']"
         api="cardApi"
         page-location="'peerView'">
    </div>

  <icon class="bmp-down_bmp" style="font-size:36px"></icon>

  <icon class="bmp-down_ebgp" style="font-size:36px;color:#4b84ca;"></icon>

  <icon class="bmp-down_ibgp" style="font-size:36px;color:#a8bf59;"></icon>

  <icon class="bmp-down_igp" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-down_peer" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-ap_sm" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-ap" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-arrow_router" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-as_router1-4" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-as_router5-9" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-as_router10-17" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-basic_router" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-basiclabel_router" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-bmp_label" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-bmp_router1-4" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-bmp_router5-9" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-bmp_router10-17" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-close" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-collapse" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-down" style="font-size:36px;color:#f2732d;"></icon>

  <icon class="bmp-ebgp_label" style="font-size:36px; color:#333"></icon>

  <icon class="bmp-ebgp_router1-4" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-ebgp_router5-9" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-ebgp_router10-17" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-expand" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-first_router1-4" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-first_router5-9" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-first_router10-17" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-genpeer" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-ibgp_label" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-ibgp_router1-4" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-ibgp_router5-9" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-ibgp_router10-17" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-igp_label" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-igp_router1-4" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-igp_router1-4" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-igp_router5-9" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-igp_router10-17" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-info" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-ip_tag" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-ipv4" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-ipv6" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-menu" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-move" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-network" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-no_transit" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-openrouter" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-outline_router" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-peer_label" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-peer_router1-4" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-peer_router5-9" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-peer_router10-17" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-peerrouter" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-prerib" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-reversepath" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-shadow" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-side_menu" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-start_router1-4" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-start_router5-9" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-start_router10-17" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-startcheck_router1-4" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-startcheck_router5-9" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-startcheck_router10-17" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-stop_router1-4" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-stop_router5-9" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-stop_router10-17" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-transit" style="font-size:36px;color:#333"></icon>

  <icon class="bmp-up" style="font-size:36px;color:#7ec35c;"></icon>

  <icon class="bmp-view" style="font-size:36px;color:#333"></icon>

  <hr>

  <!--<div ng-controller="CanvasController2" style="width:100%;height:250px;overflow-x: scroll;">-->
    <!--<canvas id="tutorial" style="border: 1px solid black;"></canvas>-->
  <!--</div>-->

  <div class="as-path">

    <div  ng-style="{'width':asPath.width}">

      <div ng-repeat="path in as_path" style="position: relative;float: left;width:150px;">
        <!--icon-->
        <div style="display: table-cell;">
          <div style="text-align: center" tooltip="{{path.topVal}}">{{ wordCheck(path.topVal) }}</div>

          <!--This is the actual AS icon-->
          <div class="{{ path.icon }}" id="here" style="font-size: 50px" ng-style="{'color':path.colour}" popover="{{path.popOut}}" popover-placement="right" popover-trigger="mouseenter"></div>
          <div style="text-align: center">{{ path.botVal }}</div>
        </div>
        <!--line-->
        <div style="display: table-cell;" ng-if="path.isEnd">
          <div style="width: 100px;height: 2px;background-color:#000000;position: absolute;margin-top: 45px;"
               ng-style="{'width':asPath.lineWidth}"></div>
        </div>
      </div>

    </div>

  </div>

</div>
