<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://xq.cisco.com/next/pilot/next/css/next-blue.css">
    <link rel="stylesheet" href="http://xq.cisco.com/next/pilot/next-topology/css/next-topology.css">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="http://xq.cisco.com/next/pilot/next/js/next.js"></script>
    <script src="http://xq.cisco.com/next/pilot/next-topology/js/next-topology.js"></script>
    <link rel="stylesheet" href="/static/next2/ToplogyViaApi.css">
    <script src="/static/next2/TopologyViaApi.js"></script>
    <script src="/static/next2/Application.js"></script>
</head>
<body>
</body>
</html>