.modal-button {
  background-color: #1c2b36;
  border: none;
  border-radius: 0;

  &:hover{
    background-color: #1c2D46;
  }
}

.modal-content {
  border: none;
  border-radius: 0;
}


.modal-backdrop.in {
  opacity: 0.2;
}
