.update-result {
  position: relative;
  text-align: center;
  margin-left: 15px;
  display: inline;
  height: 40px;
  background-color: white;
  border-radius: 2px;
  width: 150px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px;
  border: 1px solid #0b97c4;
}
