<div ng-controller="AdminViewController">
  <tabset>
    <tab heading="Maintain GeoIP">
      <div class="tab-padding">
        <div class="row">
          <div class="col-lg-7">
            <h3 style="display:inline-block">GeoIP List</h3>
            <div id="IPResult" class="update-result">For editing, just double click then type in.</div>
          </div>
          <div class="col-lg-5" style="margin-top:17px;padding-right:3%">
            <span class="btn btn-success pull-right" ng-click="readyModal('IP','insert')"><span
              class="glyphicon glyphicon-plus"></span></span>
            <span class="btn btn-danger pull-right" ng-click="readyModal('IP','delete')"><span
              class="glyphicon glyphicon-trash"></span></span>
            <span class="btn btn-primary pull-right" ng-click="readyModal('IP','import')"
                  style="width:30%">IMPORT</span>
          </div>
        </div>
        <div class="row">
          <div class="grid" ui-grid="geoIPGridOptions" ui-grid-pagination ui-grid-edit ui-grid-selection
               style="height: 650px" ng-if="geoIPGridOptions.data.length">
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Maintain GeoLocation" select="showGeoLocation()">
      <div class="tab-padding">
        <div class="row">
          <div class="col-lg-7">
            <h3 style="display:inline-block">Geo Location List</h3>
            <div id="LocationResult" class="update-result">For editing, just double click then type in.</div>
          </div>
          <div class="col-lg-5" style="margin-top:17px;padding-right:3%">
            <span class="btn btn-success pull-right" ng-click="readyModal('location','insert')"><span
              class="glyphicon glyphicon-plus"></span></span>
            <span class="btn btn-danger pull-right" ng-click="readyModal('location','delete')"><span
              class="glyphicon glyphicon-trash"></span></span>
            <span class="btn btn-primary pull-right" ng-click="readyModal('location','import')"
                  style="width:30%">IMPORT</span>
          </div>
        </div>
        <div class="row">
          <div class="grid" ui-grid="geoLocationGridOptions" ui-grid-pagination ui-grid-edit ui-grid-selection
               style="height: 650px" ng-if="geoLocationGridOptions.data.length">
          </div>
        </div>
      </div>
    </tab>
    <tab heading="User Management" select="showUsers()">
      <div class="tab-padding">
        <div ng-if="usertype==='admin'">
          <div class="row">
            <div class="col-lg-7">
              <h3 style="display:inline-block">User List</h3>
              <div id="UserResult" class="update-result">For editing, just double click then type in.</div>
            </div>
            <div class="col-lg-5" style="margin-top:17px;padding-right:3%">
              <span class="btn btn-success pull-right" ng-click="readyModal('user','insert')"><span
                class="glyphicon glyphicon-plus"></span></span>
              <span class="btn btn-danger pull-right" ng-click="readyModal('user','delete')"><span
                class="glyphicon glyphicon-trash"></span></span>
            </div>
          </div>
          <div class="row">
            <div class="grid" ui-grid="userGridOptions" ui-grid-edit ui-grid-selection
                 style="height: 650px" ng-if="userGridOptions.data.length">
            </div>
          </div>
        </div>
        <div ng-if="usertype!=='admin'">
          <h3 style="display:inline-block">Change password</h3>
          <form id="changePwdForm">
            <div class="row">
              <div class="col-sm-4">
                <input class="form-control col-xs-3" id="newPwd"
                       placeholder="Password"
                       name="pwd" ng-model="thePwd"
                       type="password" pattern=".{2,}" required/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <input class="form-control"
                       placeholder="Check Password"
                       name="chk" ng-model="chkPwd"
                       type="password"
                       wj-validation-error="chkPwd != thePwd ? 'Passwords don\'t match' : ''"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <button class="btn btn-md btn-success pull-right"
                        type="submit"> SUBMIT
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </tab>
  </tabset>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="modal-header" class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 id="modal-title" class="modal-title">Modal title</h4>
        </div>
        <div id="modal-body" class="modal-body">
        </div>
        <div id="modal-footer" class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save-button">Save changes</button>
        </div>
      </div>
    </div>
  </div>


</div>


