.highlight {
  color: #4ec0f1;
}

.headeroverflow .ui-grid-header-cell .ui-grid-cell-contents {
  height: 48px;
  white-space: normal;
  -ms-text-overflow: clip;
  -o-text-overflow: clip;
  text-overflow: clip;
  overflow: visible;
}