<div>
  <!------------------WHO IS---------------->


      <bg-splitter orientation="vertical">
        <bg-pane>
          <h1>WHOIS</h1>
          <hr>
          Search ASN or Name
          <input type="text" ng-change="enterValue(searchValue)" ng-model="searchValue" placeholder="Search ..." />
          <!--Angular Table added here-->
          <div class="gridStyle" ui-grid-selection ui-grid="whoIsGridOptions"></div>

        </bg-pane>
        <bg-pane>
          <h2>DETAILS</h2>
          <hr>
          <div class="detailsPanel">
            <pre ng-bind-html="selectedItem"></pre>
          </div>
        </bg-pane>
      </bg-splitter>
  <hr>
</div>
