<div ng-controller="WhoIsController">
  <!------------------WHO IS---------------->
  <!--<h1 class="pgtitle">Whois</h1>-->
  <div class="main-page-search">
    AS Number or AS Name:
    <input type="text" ng-change="enterValue(searchValue)" ng-model="searchValue" placeholder="Cisco"/>
    <span class="help-block">Example: 109/Cisco</span>

    <button type="submit" class="btn btn-sm btn-primary ng-click-active" data-toggle="modal" data-target="#whoisModal">
        <span class="glyphicon glyphicon-globe" aria-hidden="true">
        </span>
    </button>
  </div>

  <h3 ng-show="nodata">No AS matches this search</h3>

  <div ng-show="!nodata">
  <!--Angular Table added here-->
  <div class="main-area row">
    <div class="col-lg-12">
      <div class="table-container">
        <h3>Whois Information</h3>

        <div class="loading-section">
          <div ng-show="whoIsLoad" bmp-loading loading-var="whoIsLoad"></div>
          <div ui-grid-selection ui-grid-auto-resize ui-grid="whoIsGridOptions" ng-style="{'height':whoIsGridOptions.height}" class="headeroverflow"></div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <!--<div style="padding:12px">-->
    <div class="main-area row">
      <div class="col-lg-12">
        <div class="table-container" scrollable>
          <h3>Details</h3>
          <pre class="preStyle" ng-bind-html="selectedItem"></pre>
        </div>
      </div>
    </div>
  </div>
    </div>

  <!-- Whois Modal -->
  <div class="modal fade" id="whoisModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}">
      <div class="modal-content" modal-transclude="">
        <div class="modal-header ng-scope">
          <h3 class="modal-title">Whois - API SERVICE</h3>
        </div>

        <div ng-bind-html="modalContent" class="modal-body ng-scope">

        </div>

        <div class="modal-footer ng-scope">
          <button class="btn btn-warning modal-button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
