$router-color: #5795DC;
$peer-color: #EAA546;
$connector-color: #AFAFAF;
$peer-text-color: #FFFFFF;

svg.title {
 font: bold 56px Arial;
}

.routerLoc {
  text-align: left;
  border-style: hidden;
  margin-left: 4px;
}

.noRouterLoc {
  border: 0px;
  border-left-width: 2px;
  width: 200px;
  height: 150px;
  td {
    padding: 20px;
    text-align: center;
  }
}
.routerCard {
  .routerLoc{
    margin-top: 2em;
  }
}
.tableSummary {
  width: 100%;
  td, th {
    padding: 3px;
    border-width: 1px;
  }
}
.ribTable {
  width: 100%;
  border: solid 1px;
  td, th {
    padding: 3px;
  }
  th {
    border-bottom: solid 1px #808080;
  }
  td:nth-of-type(odd) {
    text-align: right;
  }
}
