.red {
  color: red;
}
.green {
  color: green;
}
.collapsed {
  display: inline;
}
.routerLoc {
  text-align: left;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  margin-left: 20px;
}



/*
$purple: #9A68C7;
$blue: #3BA9E4;
$green: #75B343;
$orange: #FF6A42;


/* Common Colors - Variables 

$off-wht: rgba(white,.4);

/* Mixins 

@mixin btn-theme($btn-color) {
	border-color: darken($btn-color, 20%);
	background-color: $btn-color;
	&:hover {
		background-color: darken($btn-color, 6%);
		box-shadow: 0 .125em $off-wht, inset 0 .063em $off-wht, inset 0 -.188em lighten($btn-color, 2%);
	}
	&:active {
		box-shadow: 0 .063em $off-wht, inset 0 0 1.094em darken($btn-color, 40%), inset 0 .063em darken($btn-color, 20%),inset 0 -0.188em darken($btn-color, 20%); 
	}
}

@mixin trans($val...) {
	-webkit-transition: $val;
	-moz-transition: $val; 
	-o-transition: $val; 
	transition: $val; 
}

/* Button Global 

.btn {
	display: inline-block;
	margin: 1rem; 
	padding: .938em 1.875em;
	border: .094em solid;
	border-radius: .625em;
	box-shadow: 0 .375em .313em -.313em rgba(black,.8), inset 0 .063em $off-wht, inset 0 -.188em rgba(black,.15);
	color: #FFF;
	font: bold 1.8rem sans-serif;
	@include trans(0.2s ease-in-out); 
	text: {
		transform: uppercase;
		decoration: none;
		shadow: 0 .063em rgba(black,.3);
	}
  cursor:pointer;
}

/* Themes 

.purple {
	@include btn-theme($purple);
}
.blue {
	@include btn-theme($blue);
}
.green {
	@include btn-theme($green);
}
.orange {
	@include btn-theme($orange);
}*/



.infoRouter {
      icon:
    { 
          src: "bmp-routerblk";
      }
}




.noRouterLoc {
  width: 200px;
  height: 150px;
  td {
    padding: 20px;
    text-align: center;
  }
}
.peerCard {
  .routerLoc{
    margin: 3em 1em 1em 6em;
  }
}
.routerCard {
  .routerLoc{
    margin-top: 2em;
  }
}
.tableSummary {
  width: 100%;
  td, th {
    padding: 3px;
    border-style: solid;
    border-width: 1px;
  }
}
.ribTable {
  width: 100%;
  border: solid 1px;
  td, th {
    padding: 3px;
  }
  th {
    border-bottom: solid 1px #808080;
  }
  td:nth-of-type(odd) {
    text-align: right;
  }
}
