$router-color: #5795DC;
$peer-color: #EAA546;
$connector-color: #AFAFAF;
$peer-text-color: #FFFFFF;

svg.title {
 font: bold 56px Arial;
}

.min-router {
  font-size: 26px;
  color: #6197d1;
  margin: 0 10px;
}

.peer-amount-icon {
  position: relative;
  width: 280px;
  margin: 50px auto 0;
}

.peers-amount-img {
  height: 70px;
}

.graph {
  text-align: center
}

.up-graph {
  margin-bottom: 0
}

.icon-container{
  padding: 0px 30px 30px;
  margin: 0;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  height: 250px;
  position:relative;
  h4{
    text-align: left;
    margin: 20px 0;
    color: #677885;
    font-size: 11pt;
    text-transform: uppercase;
  }
  .table{
    color: #677885;
    td:nth-of-type(even){
      font-family: 'CiscoSansExtraLight';
    }
  }
  .top-val {
    color: #AFAFAF;
    width: 135px;
    text-align: center;
  }
}

.template-content{
  opacity: 0;
  transition: opacity 0.25s 0.5s;
  &.expanded{
    opacity: 1;
    transition-delay: 0;
  }
}
