<div class="panel" ng-controller="BmpCardGlobalRouterController" style="background:#fff;padding-right:40px;padding-left:20px" >
  <!--COLLAPSED view-->
  <div class="row;panel" ng-hide="cardExpand" class="collapsed">
    <!--Router Card collapsed-->
     
<div class="col-sm-*">
        <span class="bmp-down_bmp" style="font-size:32px;color:#4b84ca;width:45px"></span>
        <span>
            {{data.RouterName}} 
            {{data.RouterIP}} 
        </span>   
        <span  ng-class="{'red': data.isConnected!='1', 'green': data.isConnected=='1'}" > 
            {{ isUP }}
        </span> 
    </div> 
  </div>
    
  <!-- EXPANDED view-->
  <div class="row" ng-show="cardExpand" >
    <div class="col-sm-*" >
    <!--Router Card--> 
        <h5>
            <span class="bmp-down_bmp" style="font-size:32px;color:#4b84ca;width:60px"></span>  
            {{ data.RouterName }}    
       </h5>    
    <!--ADD A HELP--> 
      </div><!-- end of the header div --> 
    <div class="row" style="padding-top:20px">
      <div class="col-sm-4">
        <!--Router and peer icon drawing -->
          <div style="position:absolute; left:10px;top:10px">
          <i class="bmp-down_bmp" style="font-size:64px;color:#4b84ca;position:relative;left:4px;top:4px;z-index:99"></i>
              <hr style="width:100%;color:#999;position:relative;left:90px;top:-55px; border-width: 5px;" /> 
       
          <span id="peers" style="position:relative; left: 160px;top:-106px;">
              <icon class="bmp-basic_router" style="font-size:64px;color:#c39741;position:relative;top:0px;opacity: 0.25;"></icon>
              <span id="peervalue" style="font-size:24px;color:#644f2c;position:relative; left: -52px; top: -18px;z:99;">{{ peersAmount }}                
            </span>
            </span>
               
            </div> <!-- end first col -->  
        </div>
      <!--IP's Graph-->
      <div class="col-sm-4"> 
          <nvd3 options="ipAmountOptions" data="ipAmountData"></nvd3>
          
      </div>
      <div class="col-sm-4">
           <!--Router Up Time-->
          <i class="bmp-up" style="font-size:32;color:#7ec35c;"></i>
          BMP Up Time &nbsp;
          <span style="color: #94bb62;">
            {{ upTime }}
          </span>
          <!--Location table--> 
          <span ng-bind-html="locationInfo"></span>
       </div>
 
      </div><!-- end first data row -->
<div class="row">
    <!--ROUTER up time graph-->
    <div class="col-sm-*">
      <nvd3 options="upTimeOptions" data="upTimeData" config="upTimeConfig"></nvd3>
      
    </div>
</div><!--end of row -->
    <!--NEED TO BE CHANGED-->
    <!--R/Peers info table-->
    <!--<span ng-bind-html="peerSummaryTable"></span>-->
    <table class="tableSummary" border="1" style="border-color:#e8e8e8;color:#999">
      <tr>
        <th>AS Number</th>
        <th>AS Name</th>
        <th>Organization</th>
      </tr>
      <tr ng-repeat="peer in peerSummaryTable track by $index">
        <td>{{ peer.PeerASN }}</td>
        <td>{{ peer.PeerName }}</td>
        <td>{{ peer.org_name }}</td>
      </tr>
    </table>
    <br>
    <!--end router card-->
    <div>
      <icon class="bmp-down_bmp" style="font-size:36px"></icon>

      <icon class="bmp-down_ebgp" style="font-size:36px;color:#4b84ca;"></icon>
      
      <icon class="bmp-down_ibgp" style="font-size:36px;color:#a8bf59;"></icon>

      <icon class="bmp-down_igp" style="font-size:36;color:#333"></icon>

      <icon class="bmp-down_peer" style="font-size:36;color:#333"></icon>

      <icon class="bmp-ap_sm" style="font-size:36;color:#333"></icon>

      <icon class="bmp-ap" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-arrow_router" style="font-size:36;color:#333"></icon>

      <icon class="bmp-as_router1-4" style="font-size:36;color:#333"></icon>

      <icon class="bmp-as_router5-9" style="font-size:36;color:#333"></icon>

      <icon class="bmp-as_router10-17" style="font-size:36;color:#333"></icon>

      <icon class="bmp-basic_router" style="font-size:36;color:#333"></icon>

      <icon class="bmp-basiclabel_router" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-bmp_label" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-bmp_router1-4" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-bmp_router5-9" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-bmp_router10-17" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-close" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-collapse" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-down" style="font-size:36;color:#f2732d;"></icon>
      
      <icon class="bmp-ebgp_label" style="font-size:36; color:#333"></icon>

      <icon class="bmp-ebgp_router1-4" style="font-size:36;color:#333"></icon>

      <icon class="bmp-ebgp_router5-9" style="font-size:36;color:#333"></icon>

      <icon class="bmp-ebgp_router10-17" style="font-size:36;color:#333"></icon>

      <icon class="bmp-expand" style="font-size:36;color:#333"></icon>

      <icon class="bmp-first_router1-4" style="font-size:36;color:#333"></icon>

      <icon class="bmp-first_router5-9" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-first_router10-17" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-genpeer" style="font-size:36;color:#333"></icon>

      <icon class="bmp-ibgp_label" style="font-size:36;color:#333"></icon>

      <icon class="bmp-ibgp_router1-4" style="font-size:36;color:#333"></icon>

      <icon class="bmp-ibgp_router5-9" style="font-size:36;color:#333"></icon>

      <icon class="bmp-ibgp_router10-17" style="font-size:36;color:#333"></icon>

      <icon class="bmp-igp_label" style="font-size:36;color:#333"></icon>

      <icon class="bmp-igp_router1-4" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-igp_router1-4" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-igp_router5-9" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-igp_router10-17" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-info" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-ip_tag" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-ipv4" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-ipv6" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-menu" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-move" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-network" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-no_transit" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-openrouter" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-outline_router" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-peer_label" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-peer_router1-4" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-peer_router5-9" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-peer_router10-17" style="font-size:36;color:#333"></icon>

      <icon class="bmp-peerrouter" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-prerib" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-reversepath" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-shadow" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-side_menu" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-start_router1-4" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-start_router5-9" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-start_router10-17" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-startcheck_router1-4" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-startcheck_router5-9" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-startcheck_router10-17" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-stop_router1-4" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-stop_router5-9" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-stop_router10-17" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-transit" style="font-size:36;color:#333"></icon>
      
      <icon class="bmp-up" style="font-size:36;color:#7ec35c;"></icon>
      
      <icon class="bmp-view" style="font-size:36;color:#333"></icon>
</div>
  </div>
</div>
