<div ng-controller="BmpCardGlobalRouterController">
  <!--COLLAPSED view-->
  <div ng-hide="cardExpand" class="collapsed">
    <!--Router Card-->
    <icon class="bmp-outline_router" style="font-size:36px;color:#6197d1"></icon>
    <div class="collapsedContent">
      <ul class="collContentItems">
        <li>BMP ROUTER</li>
        <li>{{data.RouterName}}</li>
        <li>{{data.RouterIP}}</li>
        <li>
          <icon
            ng-class="{'bmp-down': data.isConnected!='1', 'bmp-up': data.isConnected=='1'}"
            ng-style="data.isConnected != '1' && {'color': '#f2732d'} ||
                      data.isConnected == '1' && {'color': '#7ec35c'}"
            style="font-size:18px;">
          </icon>
        </li>
      </ul>
    </div>
  </div>

  <!--EXPANDED view-->
  <div ng-show="cardExpand">
    <br>
    <!--Router Card-->
    <h3>BMP Router</h3>

    <!--Router Up Time-->
    <!--ADD A HELP-->
    <span style="float: right;text-align: right;">
      BMP Up Time
      <span class="green">
        {{ upTime }}
      </span>
    </span>

    <h4>{{ data.RouterName }}</h4>
    <br>

    <div class="row">

      <div class="col-md-4">

        <div class="router-peer-icon">
          <icon class="bmp-outline_router bmp-outline-route"></icon>
          <icon class="bmp-genpeer"></icon>

          <div class="peers-icon">
            <icon class="bmp-openrouter"></icon>
            <span class="peer-amount">
              {{ peersAmount }}
            </span>
          </div>
        </div>

      </div>

      <!--IP's Graph-->
      <div class="col-md-4">
        <nvd3 options="ipAmountOptions" data="ipAmountData"></nvd3>
      </div>

      <!--Location table-->
      <div class="col-md-4">
        <span ng-bind-html="locationInfo"></span>
      </div>

    </div>

    <!--ROUTER up time graph-->
    <div>
      <nvd3 options="upTimeOptions" data="upTimeData" config="upTimeConfig"></nvd3>
    </div>

    <!--NEED TO BE CHANGED-->
    <!--R/Peers info table-->
    <!--<span ng-bind-html="peerSummaryTable"></span>-->
    <table class="tableSummary">
      <tr>
        <th>AS Number</th>
        <th>AS Name</th>
        <th>Organization</th>
      </tr>
      <tr ng-repeat="peer in peerSummaryTable track by $index">
        <td>{{ peer.PeerASN }}</td>
        <td>{{ peer.PeerName }}</td>
        <td>{{ peer.org_name }}</td>
      </tr>
    </table>
    <br>
    <!--end router card-->
  </div>
</div>
