.uptext{
  color: #7ec35c
}

.downtext{
  color: #f2732d
}

.up-icon{
  color: #7ec35c;
  text-align: center;
  padding-top: 6px;
}

.down-icon{
  color: #f2732d;
  text-align: center;
  padding-top: 6px;
}
