<div ng-controller="PeerAnalysisController">
<!------------------------------------------------- PEER TABLE----------------------------------------------------->
  <h1 class="page-header">BGP Peers</h1>
  <div id="peerTable" ui-grid="peerTableOptions" ui-grid-selection></div>
  <!------------------------------------------------- ./PEER TABLE -------------------------------------------------->

  <!------------------------------------------------- Prefix Trending per Peer--------------------------------------->
  <h1 class="page-header">Prefix Trending Per Peer</h1>
  <div id="preposthistory_container">
    <nvd3 options="options" data="data"></nvd3>
  </div>
</div>
<!------------------------------------------------- ./Prefix Trending per Peer------------------------------------->
