<div class="table-container">
  <h3 class="pgtitle">Router List
    <span class="label label-info" ng-click="clickRouters()">{{$root.routerCount}} Routers</span>
    <span class="label label-danger" ng-click="clickDisconnected()">{{$root.routersTotals[1]}} Disconnected</span>
    <span class="label label-info" style="margin-left: 50px;">{{$root.peerCount}} Peers</span>
    <span class="label label-success" ng-click="clickIpv4Up()">{{$root.ips[0][2]}} IPv4 Up</span>
    <span class="label label-success" ng-click="clickIpv6Up()">{{$root.ips[1][2]}} IPv6 Up</span>
    <span class="label label-danger" ng-click="clickIpv4Down()">{{$root.ips[0][3]}} IPv4 Down</span>
    <span class="label label-danger" ng-click="clickIpv6Down()">{{$root.ips[1][3]}} IPv6 Down</span>
    <button class="btn filter-button" ng-click="toggleFiltering()">Filter</button>
  </h3>
  <div class="loading-section" ng-style="{'height':routerGridInitHeight}">
    <div ng-show="routerTableIsLoad" bmp-loading loading-var="routerTaleIsLoad"></div>
    <div id="routerTable" ui-grid="routerTableOptions" ui-grid-tree-view ui-grid-selection ui-grid-auto-resize></div>
  </div>
</div>
