.tab-pane .loading-section .ui-grid-grid-footer {
  margin-top: 0px;
}

.red {
  color: red;
}
.green {
  color: green;
}
.routerLoc {
  text-align: left;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  margin-left: 20px;
}
.noRouterLoc {
  width: 200px;
  height: 150px;
  td {
    padding: 20px;
    text-align: center;
  }
}
.peerView {
  height: 100px;
  overflow-y: scroll;
}
.peerCard {
  .routerLoc{
    margin: 3em 1em 1em 6em;
  }
}

.left-container .bold, .right-container .bold{
  font-weight: bold;
}

.ribTable {
  width: 100%;
  border: solid 1px;
  td, th {
    padding: 3px;
  }
  th {
    border-bottom: solid 1px #808080;
  }
  td:nth-of-type(odd) {
    text-align: right;
  }
}
.tab-pane{
  padding: 5px;
  background-color: #ffffff;
  .uiGridClass {
    width: 100%;
    height: 200px;
  }
}

.tab-content{
    border: 1px solid #DDD;
  border-top: none;
}
.as-path{
  height: 140px;
  overflow-x: scroll;
  border: none;
  width: 100%;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 70px;
  background-color: #fafafa;
    .popover{
    width:200px;
    font-size:12px;
  }
  #here{
    white-space:pre;
  }
}

.popover-content .thin{
  font-family: 'CiscoSansExtraLight';
}

.preStyle, tr{
  vertical-align: top;
}

.uptext{
  color: #7ec35c
}

.downtext{
  color: #f2732d
}

.up-icon{
  color: #7ec35c;
  text-align: center;
  padding-top: 6px;
}

.down-icon{
  color: #f2732d;
  text-align: center;
  padding-top: 6px;
}

