.red {
  color: red;
}
.green {
  color: green;
}
.collapsed {
  display: inline;
}
.routerLoc {
  text-align: left;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  margin-left: 20px;
}
.noRouterLoc {
  width: 200px;
  height: 150px;
  td {
    padding: 20px;
    text-align: center;
  }
}
.peerView {
  height: 100px;
  overflow-y: scroll;
}
.peerCard {
  .routerLoc{
    margin: 3em 1em 1em 6em;
  }
}
.routerCard {
  .routerLoc{
    margin-top: 2em;
  }
}

.ribTable {
  width: 100%;
  border: solid 1px;
  td, th {
    padding: 3px;
  }
  th {
    border-bottom: solid 1px #808080;
  }
  td:nth-of-type(odd) {
    text-align: right;
  }
}
.tab-pane{
  padding: 5px;
  background-color: #ffffff;
  .uiGridClass {
    width: 100%;
    height: 200px;
  }
}
