.icon-container {
  .rib-icon {
    font-size: 45px;
    color: #EAA546;
  }

  .rib-image {
    text-align: center;
    font-family: 'CiscoSansExtraLight';
      padding-top: 40px;
      color: #afafaf;
    .rib-section {
      display: table-cell;
      .rib-part {
        float:left;
        .bmp-prerib {
          font-size: 45px;
          color:#EAA546;
        }
      }

      .rib-value {
        float:left;
        padding-right: 15px;
      }
    }
  }
}
.import {
  height: auto;
}
