.icon-container {
  .rib-icon {
    font-size: 45px;
    color: #EAA546;
  }

  .rib-image {
    text-align: center;
    font-family: 'CiscoSansExtraLight';
      padding-top: 40px;
      color: #afafaf;
    .rib-section {
      display: table-cell;
      .rib-part {
        float:left;
        .bmp-prerib {
          font-size: 45px;
          color:#EAA546;
        }
      }

      .rib-value {
        float:left;
        padding-right: 15px;
      }
    }
  }
}
.import {
  height: auto;
}

.tab-content h4 {
  margin: 8px 0 20px 35px;
}

.tab-pane input{
  margin: 5px 0 10px;
  border: 1px solid #efefef;
  padding: 3px;
  font-size: 9pt;
}
