.peer-card {
  .rib-icon {
    font-size: 45px;
    color: #EAA546;
  }

  .peerCard {
    .routerLoc{
      margin: 3em 1em 1em 6em;
    }
  }
  .routerCard {
    .routerLoc{
      margin-top: 2em;
    }
  }

  .rib-image {
    text-align: center;
    color:#AFAFAF;
    padding-top: 70px;
    padding-left: 15px;
    .rib-section {
      display: table-cell;
      .rib-part {
        float:left;
        .bmp-prerib {
          font-size: 45px;
          color:#EAA546;
        }
      }

      .rib-value {
        float:left;
        padding-right: 15px;
      }
    }
  }
}
