<div ng-controller="TopsViewController">

  <div class="main-page-search">

    <div class="row">
      <div class="col-lg-1" style="width:4%;vertical-align: middle">
        <span class="btn btn-default" style="margin-top:110px" ng-click="leftArrow()"><span class="glyphicon glyphicon-arrow-left"></span></span>
      </div>
      <div class="col-lg-10" style="width:91%">
        <nvd3
          options="previewGraph"
          data="previewGraphData">
        </nvd3>
        <div id="timeSelector"></div>
      </div>
      <div class="col-lg-1" style="width:5%;height:100%;">
        <span class="btn btn-default" style="margin-top:110px" ng-click="rightArrow()"><span class="glyphicon glyphicon-arrow-right"></span></span>
      </div>
    </div>
    <div class="row" style="padding:0px 25px 0px 25px; margin-top:80px">
      <div class="col-lg-5">
        <span>Start: <input type='text' class="form-control" id="startDatetimePicker"/></span>
      </div>
      <div class="col-lg-2" style="height:34px;padding:27px 0px 0px 0px;">
        <span type='text' class='label label-info' style="font-size:14px;">
          Duration: <span id="duration"></span>
        </span>
      </div>
      <div class="col-lg-5">
       <span>End:
        <span class='input-group'>
          <input type='text' class="form-control" id='endDatetimePicker'/>
            <span class="input-group-addon">
                <span style="cursor:pointer" ng-click="setToNow()">SET TO NOW</span>
            </span>
        </span>
         </span>
      </div>
    </div>
    <div class="row" style="padding:0px 25px 0px 25px;margin-bottom:20px">
      <div class="col-lg-10" style="margin-top:30px">
        <div ng-show="filterPeerText||filterPrefixText">
          <span>Filter:</span>

          <label id="filterPeer" class="btn btn-sm btn-info filterText"
                 ng-show="filterPeerText"
                 ng-mouseover='clearOneVisible=true'
                 ng-mouseleave='clearOneVisible=false;'
                 ng-click="clearFilter('peer')">
            Peer: {{filterPeerText}}
            <span ng-show="clearOneVisible" class="glyphicon glyphicon-remove" style="font-size:13px"></span>
          </label>

          <label id="filterPrefix" class="btn btn-sm btn-warning filterText"
                 ng-show="filterPrefixText"
                 ng-mouseover='clearTwoVisible=true'
                 ng-mouseleave='clearTwoVisible=false'
                 ng-click="clearFilter('prefix')">
            Prefix: {{filterPrefixText}}
            <span ng-show="clearTwoVisible" class="glyphicon glyphicon-remove" style="font-size:13px"></span>
          </label>
        </div>
      </div>
      <!--<div class="col-lg-3" style="margin-top:40px;padding-right:0">-->
        <!--<label>Include whois prefix info <input type="checkbox" ng-model="joinWhoisPrefix"></label>-->
      <!--</div>-->
      <div class="col-lg-2" style="margin-top:30px;padding-left:0">
        <label class="btn btn-sm btn-success" style="width:300px" ng-click="loadAll()">GO</label>
      </div>
    </div>
  </div>


  <div class="main-area row">
    <div class="col-lg-6">
      <div class="d3-container" style="padding:20px">
        <h4 style="font-size:16px">{{peerText}} Number of Updates</h4>

        <div class="loading-section" ng-style="{'height': 450}">
          <div ng-show="topUpdatesByPeerLoading" bmp-loading loading-var="topUpdatesByPeerLoading"
               font-width="80"></div>
          <nvd3 id="topUpdatesByPeer"
                options="topUpdatesByPeerGraph"
                data="topUpdatesByPeerData">
          </nvd3>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="d3-container" style="padding:20px">
        <h4 style="font-size:16px">{{peerText}} Number of Withdraws</h4>

        <div class="loading-section" ng-style="{'height': 450}">
          <div ng-show="topWithdrawsByPeerLoading" bmp-loading loading-var="topWithdrawsByPeerLoading"
               font-width="80"></div>
          <nvd3 id="topWithdrawsByPeer"
                options="topWithdrawsByPeerGraph"
                data="topWithdrawsByPeerData">
          </nvd3>
        </div>
      </div>
    </div>
  </div>

  <div class="main-area row">
    <div class="col-lg-6">
      <div class="d3-container" style="padding:20px 20px 35px 20px">
        <h4 style="font-size:16px">{{prefixText}} Number of Updates</h4>

        <div class="loading-section" ng-style="{'height': 450}">
          <div ng-show="topUpdatesByPrefixLoading" bmp-loading loading-var="topUpdatesByPrefixLoading"
               font-width="80"></div>
          <nvd3 id="topUpdatesByPrefix"
                options="topUpdatesByPrefixGraph"
                data="topUpdatesByPrefixData">
          </nvd3>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="d3-container" style="padding:20px 20px 35px 20px">
        <h4 style="font-size:16px">{{prefixText}} Number of Withdraws</h4>

        <div class="loading-section" ng-style="{'height': 450}">
          <div ng-show="topWithdrawsByPrefixLoading" bmp-loading loading-var="topWithdrawsByPrefixLoading"
               font-width="80"></div>
          <nvd3 id="topWithdrawsByPrefix"
                options="topWithdrawsByPrefixGraph"
                data="topWithdrawsByPrefixData">
          </nvd3>
        </div>
      </div>
    </div>
  </div>
  <div class="main-area row">
    <div class="col-lg-12">
      <div class="d3-container" style="padding:20px">
        <h4 style="font-size:16px">Number of Updates/Withdraws</h4>

        <div class="loading-section" ng-style="{'height': 450}">
          <div ng-show="trendGraphLoading" bmp-loading loading-var="trendGraphLoading" font-width="80"></div>
          <nvd3
            options="trendGraph"
            data="trendGraphData">
          </nvd3>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="redirectModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Attention</h4>
        </div>
        <div class="modal-body">
          <p>You are about to jump to Prefix Analysis with prefix: {{filterPrefixText}}.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="goPrefixAnalysis()" data-dismiss="modal">Go</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>



