.cardArea {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 10px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 10px;
  box-shadow: rgba(0,0,0,0.05) 0 0 2px;
  height: 50px;
  overflow: hidden;
  transition: height 0.25s;
  &.expanded{
    height: auto;
  }
  .row{
    width: 100%;
    margin: 0 0 30px 0;
  }
  .content {
    display: inline;
    .bmp-expand, .bmp-collapse {
      font-size: 20px;
      color: #888;
      margin-top: 2px;
      position: absolute;
      padding: 3px;
      cursor: pointer;
      border-radius: 20px;
      transition: background-color 0.2s;
      &:hover{
        background-color: rgb(228, 228, 228);
      }
    }
    .bmp-close{
      font-size: 20px;
      color: #888;
      margin-top: 2px;
      position: absolute;
      right: 20px;
      padding: 3px;
      cursor: pointer;
      border-radius: 20px;
      transition: background-color 0.2s;
      &:hover{
        background-color: rgb(228, 228, 228);
      }
    }
    .red {
      color: red;
    }
    .green {
      color: green;
    }

    //card template styling
    .collapsed {
      display: inline;
      .collapsedContent{
        display: inherit;
        position: absolute;
        padding-top: 10px;
        //padding-left: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        width: 85%;
        .collContentItems {
          list-style: none;
          width: 100%;
          margin-bottom: 10px;
          margin-top: -6px;
          padding: 4px 4px 4px 4px;
          li{
            float: left;
            width: 25%;
          }
//          li:first-child{
//            margin-right: 20%;
//          }
          li:last-child{
            text-align: right;
//            margin-right: 0;
          }
        }
      }
    }

  }
}

.card-expand{
  margin: 0 18px !important;
  width: inherit !important;

  .bmp-outline-router{
    font-size: 26px;
    color: #e9a445;
    margin-left: 30px;
  }

  .up-time {
    float: right;
    text-align: right;
  }

  h5{
    display: inline-block;
    margin-top: 7px;
  }
  h4{
    margin-top: 5px;
  }
}
