.cardArea {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  border-radius: 3px;
  border-color: grey;
  background-color: #EFEFEF;
  margin: 2px auto;
  .content {
    display: inline;
    .red {
      color: red;
    }
    .green {
      color: green;
    }
    .collapsed {
      display: inline;
    }
  }
}
