.cardArea {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 15px 0 0 0;
  background-color: #fff;
  border: 1px solid #D5D5D5;
  padding: 10px;
  height: 50px;
  overflow: hidden;
  &.expanded{
    height: auto;
  }
  .row{
    width: 100%;
    margin: 0 0 30px 0;
  }
  .content {
    display: inline;
    .bmp-expand, .bmp-collapse {
      font-size: 20px;
      color: #888;
      margin-top: 2px;
      position: absolute;
      padding: 3px;
      cursor: pointer;
      border-radius: 20px;
      transition: background-color 0.2s;
      &:hover{
        background-color: rgb(228, 228, 228);
      }
    }
    .bmp-close{
      font-size: 20px;
      color: #888;
      margin-top: 2px;
      position: absolute;
      right: 12px;
      padding: 3px;
      cursor: pointer;
      border-radius: 20px;
      transition: background-color 0.2s;
      &:hover{
        background-color: rgb(228, 228, 228);
      }
    }
    .red {
      color: #ad7b7b;
    }
    .green {
      color: #7bad85;
    }

    //card template styling
    .collapsed {
      display: inline;
      .collapsedContent{
        display: inherit;
        position: absolute;
        padding-top: 10px;
        //padding-left: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        width: 85%;
        .collContentItems {
          list-style: none;
          width: 100%;
          margin-bottom: 10px;
          margin-top: -6px;
          padding: 4px 4px 4px 4px;
          li{
            float: left;
            width: 25%;
          }
//          li:first-child{
//            margin-right: 20%;
//          }
          li:last-child{
            text-align: right;
//            margin-right: 0;
          }
        }
      }
    }

  }
}

.card-expand{
  margin: 0 18px !important;
  width: inherit !important;
  h5{
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    margin-top: 7px;
    color: #1C2B36;
    font-size: 11pt;
  }
  h4{
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 6px;
    display: inline-block;
    color: #1C2B36;
  }
}
