button:focus {
  outline: 0 !important;
}

.grey {
  background-color: #e1e1e1 !important;
}

.grey ~ * {
  background-color: #e1e1e1 !important;
}

.rpki-vio {
  .rpki, .recv {
    color: red;
  }
}

.irr-vio {
  .irr, .recv {
    color: red;
  }
}

rect:hover{
  cursor: pointer;
}

.rpki-header {
  .ui-grid-cell-contents{
    background-color: #058DC7;
  }
}

.rpki-con-header {
  .ui-grid-cell-contents{
    background-color: #24CBE5;
  }
}

.rpki-vio-header {
  .ui-grid-cell-contents{
    background-color: #c42525;
  }
}

.irr-header {
  .ui-grid-cell-contents {
    background-color: #50B432;
  }
}

.irr-con-header {
  .ui-grid-cell-contents {
    background-color: #64E572;
  }
}

.irr-vio-header {
  .ui-grid-cell-contents {
    background-color: #c42525;
  }
}

.both-header {
  .ui-grid-cell-contents {
    background-color: #ED561B;
  }
}

.both-con-header {
  .ui-grid-cell-contents {
    background-color: #FF9655;
  }
}

.both-vio-header {
  .ui-grid-cell-contents {
    background-color: #c42525;
  }
}

.d3-tip:after {
  font-size:0;
}

.d3-tip > span {
  clear: left;
  float: left;
  text-align: left;
  width: 220px;
}

.more-button {
  display: none;
  opacity: 0.7;
  position: fixed;
  left: 50%;
  right: 50%;
  bottom: 50px;
}
