button:focus {
  outline: 0 !important;
}

.grey {
  background-color: #e1e1e1 !important;
}

.grey ~ * {
  background-color: #e1e1e1 !important;
}

.rpki-vio {
  .rpki, .recv {
    color: red;
  }
}

.irr-vio {
  .irr, .recv {
    color: red;
  }
}
