<div ng-controller="SecurityAnalysisController">
  <div class="main-area row">
    <div class="col-lg-12">
      <div class="table-container">
        <h3>Origin AS Report</h3>

        <input type="text" placeholder="Search" ng-style="{'margin-bottom': '10px', 'margin-left': '40px'}"
               ng-model="keyword" ng-change="search(keyword)">
        <button type="button" class="btn btn-sm pull-right"
                ng-class="isViolationOn ? 'btn-primary' : 'btn-danger'"
                ng-model="isViolationOn"
                ng-click="getAllMismatch()"
                ng-style="{'margin-right': '40px'}">
          {{ isViolationOn ? 'Show All' : 'Show Violations'}}
        </button>
        <div style="display: inline; margin-left: 50px;">
          <span>Filter Table:</span>
          <button class="btn btn-sm" ng-click="getRpki()" ng-class="filterOptions.rpki ? 'btn-primary' : 'btn-info'">
            {{ filterOptions.rpki ? "All" : "RPKI"}}
          </button>
          <button class="btn btn-sm" ng-click="getIrr()" ng-class="filterOptions.irr ? 'btn-primary' : 'btn-info'">
            {{ filterOptions.irr ? "All" : "IRR" }}
          </button>
          <button class="btn btn-sm" ng-click="getIncomplete()" ng-class="filterOptions.incomplete ? 'btn-primary' : 'btn-info'">
            {{ filterOptions.incomplete ? 'All' : "Incomplete"}}
          </button>
        </div>
        <div style="display: inline;" ng-if="!isViolationOn">
          <label class="btn btn-default pull-right">RPKI Violations
            <input type="checkbox" ng-model="violationOptions.rpki"/>
          </label>
          <label class="btn btn-default pull-right">IRR Violations
            <input type="checkbox" ng-model="violationOptions.irr"/>
          </label>
        </div>

        <div class="loading-section" ng-style="{'height':securityGridInitHeight}">
          <div ng-show="securityIsLoad" bmp-loading loading-var="securityIsLoad"></div>
          <div class="grid" ui-grid="securityGridOptions" ui-grid-pagination ui-grid-selection></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="showCard">
    <div class="col-lg-12">
      <div class="table-container">
        <div class="loading-section" ng-style="{'height':glassGridOptions.changeHeight}">
          <div bmp-loading ng-if="glassGridIsLoad" loading-var="glassGridIsLoad" font-width="80"></div>
          <div ui-grid-selection ui-grid="glassGridOptions" ng-style="{'height':glassGridOptions.height}" ui-grid-resize-columns>
            <div class="watermark" ng-if="!glassGridOptions.data.length">No data available</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
