.map-control.search.suggestions{
    list-style-type: none;
    width: 182px;
    top: 110px;
    padding: 0;
    opacity: 1;
    transition : none;
    background-color: #FFF;

    li{
        padding: 5px;
        cursor: pointer;
        border-radius: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover{
            background-color: #EEE;
        }
    }
}