<div class="relative">

    <h1 class="page-header">Peer View</h1>

    <div class="loading" ng-show="loading">
        <span class="text-light">loading...</span>
    </div>

    <button ng-show="selected" class="btn btn-primary map-control reset" ng-click="clearPeers(true)">
        <span class="glyphicon glyphicon-remove"></span>
        {{chosenRouter.RouterName}}
    </button>

     <button class="btn btn-warning map-control reset" ng-click="clearPeers(true)">
        <span class="glyphicon glyphicon-remove"></span>
        TBD
    </button>

    <input type="text" ng-model="search" class="map-control search" placeholder="Search"/>

    <ul>
        <li></li>
    </ul>

    <leaflet defaults="defaults" height="480px" width="100%"></leaflet>

    <!--Router and Peers Cards-->
    <!-- <div bmp-router-card
        data="cards[0]"
        removeCard="removeRouterCard()"
        card-type="router">
    </div>
    <div ng-repeat="card in [].concat(cards[1]).reverse()">
      <div bmp-router-card
           data="card"
           removeCard="removePeerCard(card)"
           card-type="peer">
      </div>
    </div> -->
    <!--end-->
</div>