<div ng-controller="lookingGlassController">
  <!--tabset-->
    <div>

      <div class="main-page-search">
        <form ng-init="keywords=''">
          <input type="text" ng-model="keywords" class="input-large search-query" placeholder="190.0.103.0/hostname"
                 typeahead="ipAddr for ipAddr in dnsLookup($viewValue)"
                 typeahead-loading="loadingLocations"
                 typeahead-no-results="noResults"
                 typeahead-wait-ms="300"
                 typeahead-on-select="onSelect($item, $model, $label)"
                 typeahead-min-length="4"
          />
          <button type="submit" class="btn btn-sm btn-info" ng-click="search(keywords)">Search</button>
          <label class="btn btn-primary btn-xs" style="margin-left: 20px">Longest Match
            <input type="checkbox" ng-model="isLongestMatch"/>
          </label>
          <label class="btn btn-primary btn-xs">Aggregates
            <input type="checkbox" ng-model="isAggregate"/>
          </label>
          <label class="btn btn-primary btn-xs">Distinct
            <input type="checkbox" ng-model="isDistinct" ng-click="turnOnDistinct()"/>
          </label>
        </form>
      </div>

      <div class="main-area row">
        <div class="col-lg-12">
          <button type="button" class="btn btn-default"
                  ng-repeat="ip in ipAddr"
                  ng-click="search(ip)"
                  ng-style="{'margin-right': '30px'}"
          >{{ip}}</button>
        </div>
      </div>


      <div class="main-area row">
        <div class="col-lg-12">
          <div class="table-container">
            <h3>Looking Glass Information<br><br>
              <span ng-if="displayPrefix.length == 1"> Found {{displayPrefix.length}} Prefix: </span>
              <span ng-if="displayPrefix.length > 1"> Found {{displayPrefix.length}} Prefixes: </span>
              <span ng-repeat="p in displayPrefix">{{p}} </span>
              <button class="btn filter-button" ng-click="toggleFiltering()">Filter</button>
            </h3>

            <!--Angular Table added here-->
            <div class="loading-section" ng-style="{'height':glassGridOptions.changeHeight}">
              <div ng-show="glassGridOptions.glassGridIsLoad" bmp-loading loading-var="glassGridOptions.glassGridIsLoad" font-width="80"></div>
              <div ui-grid-selection ui-grid="glassGridOptions" ng-style="{'height':glassGridOptions.changeHeight}" ui-grid-resize-columns>
                <div class="watermark" ng-if="!glassGridOptions.data.length">No data available</div>
              </div>
            </div>

          </div>
        </div>
      </div>



      <div ng-if="values !== undefined">
          <div class="main-area row">
            <div class="col-lg-12">
              <div class="table-container">

                <br>
                <h3>Prefix Detail</h3>

                <section style="width: 100%;margin: auto;padding: 10px;">

                  <div class = "as-path">

                    <div ng-style="{'width':asPath.width}">

                      <div ng-repeat="path in as_path" ng-style="{'width': path.addWidth}" style="position: relative;float: left;">
                        <!--icon-->
                        <div style="display: table-cell;">

                          <span ng-if="path.noTopText">
                            <div style="text-align: center">&nbsp;</div>
                          </span>

                          <span ng-if="!path.noTopText">
                            <div style="text-align: center" tooltip="{{path.topVal}}" tooltip-append-to-body="true">{{ wordCheck(path.topVal) }}</div>
                          </span>

                          <!--This is the actual AS icon-->
                          <div class="{{ path.icon }}" id="here" style="font-size: 50px" ng-style="{'color':path.colour}" data-content="{{path.popOut}}" data-html="true" popover-placement="right" popover-trigger="mouseenter" popover="{{path.popOut}}" popover-append-to-body="true"></div>
                          <div style="text-align: center">{{ path.botVal }}</div>
                        </div>
                        <!--line-->
                        <div style="display: table-cell;" ng-if="path.isEnd">
                          <div style="width: 100px;height: 2px;background-color:#eaeaea;position: absolute;margin-top: 45px;"
                               ng-style="{'width':asPath.lineWidth}"></div>
                        </div>
                      </div>

                    </div>

                  </div>


                  <div class="left-container">

                    <div class="detailspanel">
                      <pre class="preStyle">
                        <table>
                          <tr>
                            <td>RouterName:</td>
                            <td>{{values.RouterName}}</td>
                          </tr>
                          <tr>
                            <td>PeerName:</td>
                            <td>{{values.PeerName}}</td>
                          </tr>
                          <tr>
                            <td>Prefix:</td>
                            <td>{{values.Prefix}}</td>
                          </tr>
                          <tr>
                            <td>Prefix Length:</td>
                            <td>{{values.PrefixLen}}</td>
                          </tr>
                          <tr>
                            <td>Origin:</td>
                            <td>{{values.Origin}}</td>
                          </tr>
                          <tr>
                            <td>Origin AS:</td>
                            <td><div bmp-asn-model asn="{{values.Origin_AS}}"></div></td>
                          </tr>
                          <tr>
                            <td>MED:</td>
                            <td>{{values.MED}}</td>
                          </tr>
                          <tr>
                            <td>Local Pref:</td>
                            <td>{{values.LocalPref}}</td>
                          </tr>
                          <tr>
                            <td>NH:</td>
                            <td>{{values.NH}}</td>
                          </tr>
                          <tr>
                            <td>AS Path:</td>
                            <td>
                              <!--span ng-repeat="item in values.AS_Path.split(' ')">
                                <span bmp-asn-model asn="{{ item }}"></span>
                              </span-->
                              {{values.AS_Path}}
                            </td>
                          </tr>
                          <tr>
                            <td>AS Path Count:</td>
                            <td>{{values.ASPath_Count}}</td>
                          </tr>
                          <tr>
                            <td>Communities:</td>
                            <td>{{values.Communities}}</td>
                          </tr>
                        </table>
                      </pre>
                    </div>

                  </div>
                </section>

                </div>
            </div>
        </div>

          </div>

    </div>
  <!--/tabset-->
</div>
