<div class="amount-img" style="padding-top: 70px;padding-left: 30px;width:100%;height:200px">
  <div class="peers-amount-img">
    <div class="router-peer-line"></div>
    <div class="left-section">
      <div class="centre">
        <div class="router-name-text" tooltip="{{ data.RouterName }}">{{ wordCheck(data.RouterName) }}</div>
        <div class="bmp-bmp_router10-17 bmp-outline-route"></div>
        <div class="router-name-text" tooltip="{{data.RouterIP}}" tooltip-placement="bottom">{{ wordCheck(data.RouterIP) }}</div>
      </div>
    </div>

    <span class="middle-section"></span>

    <div class="left-section">
      <div class="centre">
        <div class="router-name-text" tooltip="{{ data.PeerName }}">{{ wordCheck(data.PeerName) }}</div>
        <div class="bmp-peer_router10-17 peer bmp-outline-route"></div>
        <div class="router-name-text" tooltip="{{ data.peerFullIp }}" tooltip-placement="bottom">{{ wordCheck(data.peerFullIp) }}</div>
      </div>
    </div>
    <!--ASN's not used yet-->
    <!--{{data.LocalASN}}-->
    <!--{{data.PeerASN}}-->
  </div>
</div>
