<div>
  <h4> Router - Peer Diagram</h4>
  <div class="amount-img">
    <div class="peers-amount-img">
      <div class="router-peer-line"></div>
      <div class="left-section">
        <div class="centre" style="position: relative;">
          <div style="position: absolute;top: -45px;left: 20px;">
            <div class="router-name-text" tooltip="{{ data.RouterASN }}">{{ wordCheck(data.RouterASN) }}</div>
            <div class="router-name-text" tooltip="{{ data.RouterName }}">{{ wordCheck(data.RouterName) }}</div>
          </div>
          <div class="bmp-bmp_router10-17 bmp-outline-route"></div>
          <div class="router-name-text" tooltip="{{data.RouterIPWithLength}}" tooltip-placement="bottom">{{ wordCheck(data.RouterIPWithLength) }}</div>
        </div>
      </div>

      <span class="middle-section"></span>

      <div class="left-section">
        <div class="centre" style="position: relative;">
          <div style="position: absolute;top: -45px;left: 20px;">
            <div class="router-name-text" tooltip="{{ data.PeerASN }}">{{ wordCheck(data.PeerASN) }}</div>
            <div class="router-name-text" tooltip="{{ data.PeerName }}">{{ wordCheck(data.PeerName) }}</div>
          </div>
          <div class="{{ routerIcon }} peer bmp-outline-route"></div>
          <div class="router-name-text" tooltip="{{ data.PeerIP }}" tooltip-placement="bottom">{{ wordCheck(data.PeerIP) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
