.bmp-btn-group {
	position: relative;
	display: inline-block;
	font-size: 0;
	white-space: nowrap;
	vertical-align: middle;
  & > .bmp-btn {
    position: relative;
    border-radius: 0;
    & + .bmp-btn {
      margin-left: -1px;
    }
    &:first-child {
      margin-left: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
.bmp-btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 0.875rem;
	font-weight: 400 !important;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
  background-color: rgb(245, 245, 245);
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

// input
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 4px;
  border-radius: 4px;
}

.ui-grid-pager-panel {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}
.ui-grid-pager-container {
  float: left;
}
.ui-grid-pager-control {
  margin-right: 10px;
  margin-left: 10px;
  min-width: 135px;
  float: left;
}
.ui-grid-pager-control button {
  height: 27px;
  min-width: 28px;
  background-color: rgba(118, 162, 217, 0.75);
  cursor: pointer;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  border-radius: 7px;
}
.ui-grid-pager-control button:hover {
  opacity: 0.9;
}
.ui-grid-pager-control input {
  height: 26px;
  width: 50px;
  vertical-align: top;
  padding: 4px;
  border-radius: 4px;
}
.ui-grid-pager-control .first-bar {
  width: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: -6px;
  height: 12px;
  margin-left: -3px;
}
.ui-grid-pager-control .first-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 8.7px 5px 0;
  border-color: transparent #4d4d4d transparent transparent;
  margin-left: 2px;
}
.ui-grid-pager-control .next-triangle {
  margin-left: 1px;
}
.ui-grid-pager-control .prev-triangle {
  margin-left: 0;
}
.ui-grid-pager-control .last-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8.7px;
  border-color: transparent transparent transparent #4d4d4d;
  margin-left: -1px;
}
.ui-grid-pager-control .last-bar {
  width: 10px;
  border-left: 2px solid #4d4d4d;
  margin-top: -6px;
  height: 12px;
  margin-left: 1px;
}
.ui-grid-pager-row-count-picker {
  float: left;
}
.ui-grid-pager-row-count-picker select {
  height: 26px;
  width: 60px;
}
.ui-grid-pager-row-count-picker .ui-grid-pager-row-count-label {
  margin-top: 3px;
}
.ui-grid-pager-count-container {
  float: right;
  margin-top: 4px;
  min-width: 50px;
}
.ui-grid-pager-count-container .ui-grid-pager-count {
  margin-right: 10px;
  margin-left: 10px;
  float: right;
}

.ui-grid-pinned-container {
  position: absolute;
  display: inline;
  top: 0;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left {
  float: left;
  left: 0;
}
.ui-grid-pinned-container.ui-grid-pinned-container-right {
  float: right;
  right: 0;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
  box-sizing: border-box;
  border-right: 1px solid;
  border-width: 1px;
  border-right-color: #aeaeae;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
  box-sizing: border-box;
  border-right: 1px solid;
  border-width: 1px;
  border-right-color: #aeaeae;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar,
.ui-grid-pinned-container .ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
  width: 1px;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar {
  background-color: #d4d4d4;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
  background-color: #aeaeae;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child .ui-grid-vertical-bar {
  right: -1px;
  width: 1px;
  background-color: #aeaeae;
}
.ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-header-cell:first-child {
  box-sizing: border-box;
  border-left: 1px solid;
  border-width: 1px;
  border-left-color: #aeaeae;
}
.ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-cell:first-child {
  box-sizing: border-box;
  border-left: 1px solid;
  border-width: 1px;
  border-left-color: #aeaeae;
}
.ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-header-cell:not(:first-child) .ui-grid-vertical-bar,
.ui-grid-pinned-container .ui-grid-cell:not(:first-child) .ui-grid-vertical-bar {
  width: 1px;
}
.ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-header-cell:not(:first-child) .ui-grid-vertical-bar {
  background-color: #d4d4d4;
}
.ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
  background-color: #aeaeae;
}
.ui-grid-pinned-container.ui-grid-pinned-container-first .ui-grid-header-cell:first-child .ui-grid-vertical-bar {
  left: -1px;
  width: 1px;
  background-color: #aeaeae;
}

/* This file contains variable declarations (do not remove this line) */
/*-- VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
/**
* @section Grid styles
*/
/**
* @section Header styles
*/
/** @description Colors for header gradient */
/**
* @section Grid body styles
*/
/** @description Colors used for row alternation */
/**
* @section Sort arrow colors
*/
/**
* @section Scrollbar styles
*/
/**
* @section font library path
*/
/*-- END VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
.ui-grid-column-resizer {
  top: 0;
  bottom: 0;
  width: 5px;
  position: absolute;
  cursor: col-resize;
}
.ui-grid-column-resizer.left {
  left: 0;
}
.ui-grid-column-resizer.right {
  right: 0;
}
.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
  border-right: 1px solid #d4d4d4;
}
.ui-grid[dir=rtl] .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
  border-right: 0;
}
.ui-grid[dir=rtl] .ui-grid-header-cell:last-child .ui-grid-column-resizer.left {
  border-left: 1px solid #d4d4d4;
}
.ui-grid.column-resizing {
  cursor: col-resize;
}
.ui-grid.column-resizing .ui-grid-resize-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #aeaeae;
}

/* This file contains variable declarations (do not remove this line) */
/*-- VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
/**
* @section Grid styles
*/
/**
* @section Header styles
*/
/** @description Colors for header gradient */
/**
* @section Grid body styles
*/
/** @description Colors used for row alternation */
/**
* @section Sort arrow colors
*/
/**
* @section Scrollbar styles
*/
/**
* @section font library path
*/
/*-- END VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
.ui-grid-row-saving .ui-grid-cell {
  color: #848484 !important;
}
.ui-grid-row-dirty .ui-grid-cell {
  color: #610b38;
}
.ui-grid-row-error .ui-grid-cell {
  color: #ff0000 !important;
}

/* This file contains variable declarations (do not remove this line) */
/*-- VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
/**
* @section Grid styles
*/
/**
* @section Header styles
*/
/** @description Colors for header gradient */
/**
* @section Grid body styles
*/
/** @description Colors used for row alternation */
/**
* @section Sort arrow colors
*/
/**
* @section Scrollbar styles
*/
/**
* @section font library path
*/
/*-- END VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: #c9dde1;
}
.ui-grid-disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.ui-grid-selection-row-header-buttons {
  cursor: pointer;
  opacity: 0.1;
}
.ui-grid-selection-row-header-buttons.ui-grid-row-selected {
  opacity: 1;
}
.ui-grid-selection-row-header-buttons.ui-grid-all-selected {
  opacity: 1;
}
