//===================================================================================
// Header, Footer & Sidebar
//===================================================================================
.half-height{
  height: 50vh;
  overflow-y: scroll;
  border:5px solid #999;
}

.dual-window-control{
  background-color: #0386D2;
  color: #FFF;
  padding: 5px;
  width: 100%;
  height: 50px;
  border: 1px solid #007CC5;
  border-bottom-width: 5px;

  &:active, &:focus{
    outline: 0;
  }

  &.dual-control-active{
    background-color: #B56060;
    border-color: #944848;
  }
}

.dual-window-buttons{
  position: absolute;
  top: 5px;
  right: 20px;
  width: 40px;
  height: 30px;

  button{
    width: 40px;
    border: 1px solid #eee;
    background-color: #f7f7f7;
    height: 15px;
    margin: 0;
    padding: 0;
    display: block;
    transition: 0.2s;
    font-size: 6pt;

    &:hover, &.dual-active{
      background-color: #007CC5;
      color: white;
      border-color: #006BB4;
    }
    &:active, &:focus{
      outline: 0;
    }
  }
}

.container-fluid > .navbar-header{
  margin-right: 0;
  margin-left: 0;
  background-color: #0386d2;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
}

.global-view, .peer-view{
  padding: 0;
}

.navbar-header {
  color: #fff;
  float: left;
}

.text-light{
  color: #222;
}

#wrapper .main .navbar.navbar-default{
  margin: 0;
  z-index: 2;
}

.navbar{
  border: 0;
  border-radius: 0;
  background-color: #0386d2;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-variant: normal;
  font-weight: 100;

  .main-header{
    width: 40%;
    text-align: center;
    float: left;
    a{
      color: white;
      font-size: 25pt;
      letter-spacing: 1px;
      font-weight: 400;
      transition: all 0.15s;
      text-transform: capitalize;
      &:hover{
        text-decoration: none;
      }
    }
  }

  .navbar-brand{
    width: 30%;
    img{
      width:30px;
      margin-right: 5px;
    }
  }

  .account{
    width: 30%;
    text-align: right;
    margin-top: 3px;
  }
}

.navbar-toggle{
  display: block;
  float: left;
}

.sidebar-nav > li{
  position: relative;
  display: block;
}

.sidebar-nav.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 20px 10px 25px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-variant: normal;
  font-weight: 200;

  &:hover{
    padding-left: 30px;
  }
}

.instant-input{
  height: 20px;
  width: 60px;
  position: absolute;
  top: 28%;
  right: 20px;
  opacity: 0;
  transition: opacity 0.4s
}

#wrapper {
  padding-left: 0;
  @include single-transition(all, 0.5s, ease);

  &.toggled {
    padding-left: 250px;

    .sidebar{
      width: 250px;
    }
  }
}

.sidebar{
  border-right: 1px solid #e5e5e5;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  //background-color: #888;
  //border-right: 1px solid #eee;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-variant: normal;
  font-weight: 100;

  @include single-transition(all, 0.5s, ease);



  h4{

    margin-left: 35px;
    color: #0386d2;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-variant: normal;
    font-weight: 120;

  }

  a{
    color: #444;

    &:hover{
      color: #0386d2;
    }
    &:focus{
      color: #444;
    }
    @include single-transition(all, 0.5s, ease);
  }

  li{
    background-color: #fff !important;
    border-left: 5px solid #fff;
    transition: 0.2s;
    @include single-transition(all, 0.5s, ease);
  }

  .active>a{
    padding-left: 30px;
  }

  .active{
    background-color: #eee !important;
    border-left: 5px solid #0386d2;
  }

  li:hover {
    background-color: #eee !important;
    border-left: 5px solid #0386d2;

    .instant-input{
      opacity: 1;
    }
  }
}


/*
.sidebar-nav > .active > a, .sidebar-nav > .active  > .sidebar-nav > .active > a:focus {
    color: #4ec0f1;
    //background-color: #0386d2;
}

*/

.sidebar-icon{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  color: #0386d2;
}

.sidebar-nav{
  width: 250px;
  padding: 0;
  list-style: none;
  background-color: #fff;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
}

.text-white{
  color: #fff;

}


@include keyframes(close-menu-top) {
  0% {
    @include transform2d(rotate(0deg));
  }
  100% {
    @include transform2d(rotate(-25deg));
    width: 10px;
    margin-bottom: -4px;
    margin-top: 4px;
  }
}

@include keyframes(close-menu-bottom) {
  0% {
    @include transform2d(rotate(0deg));
  }
  100% {
    @include transform2d(rotate(25deg));
    width: 10px;
    margin-top: 0;
    margin-bottom: 4px;
  }
}

@include keyframes(close-menu-top-rev) {
  0% {
    @include transform2d(rotate(-25deg));
    width: 10px;
    margin-bottom: -4px;
    margin-top: 4px;
  }
  100% {
    @include transform2d(rotate(0deg));
  }
}

@include keyframes(close-menu-bottom-rev) {
  0% {
    @include transform2d(rotate(25deg));
    width: 10px;
    margin-top: 0;
    margin-bottom: 4px;
  }
  100% {
    @include transform2d(rotate(0deg));
  }
}

.navbar-toggle #bar-one{
  @include animation(close-menu-top 0.3s forwards);
}

.navbar-toggle #bar-three{
  @include animation(close-menu-bottom 0.3s forwards);
}

.navbar-toggle.menu-close #bar-one{
  @include animation(close-menu-top-rev 0.3s forwards);
}

.navbar-toggle.menu-close #bar-three{
  @include animation(close-menu-bottom-rev 0.3s forwards);
}
