//===================================================================================
// Header, Footer & Sidebar
//===================================================================================
.half-height{
  height: 50vh;
  overflow-y: scroll;
  border: 2px solid #1C2B36;
  padding: 15px;
}

.dual-window-control{
  background-color: #2c4354;
  color: #FFF;
  padding: 5px;
  width: 100%;
  height: 60px;
  border: 1px solid #17262e;
  position: absolute;
  bottom: 0;
  box-shadow: inset 0 2px 2px #354E61, inset 0 -2px 2px #233644;
  transition: background-color 0.2s;

  &:active, &:focus{
    outline: 0;
  }

  &:hover{
    background-color: #314A5C;
  }

  &.dual-control-active{
    background-color: #542C2C;
    border-color: #2E1717;
    box-shadow: inset 0 2px 2px #613535, inset 0 -2px 2px #442323;
  }
}

.dual-window-buttons{
  position: absolute;
  top: 5px;
  right: 20px;
  width: 40px;
  height: 30px;

  button{
    width: 40px;
    border: 1px solid #1C2B36;
    background-color: #9CB2C3;
    height: 15px;
    margin: 0;
    padding: 0;
    display: block;
    transition: 0.2s;
    font-size: 6pt;

    &:hover, &.dual-active{
      background-color: #007CC5;
      color: white;
      border-color: #006BB4;
    }
    &:active, &:focus{
      outline: 0;
    }
  }
}

.main-container{
  padding: 35px;
  background-color: #f6f6f6;

  &.global-view, &.peer-view{
    padding: 15px;
  }

  &.no-padding{
    padding: 0;
  }

  .row.main-area{
    margin-bottom: 35px;
  }
}

.navbar-header {
  color: #fff;
  float: left;
}

.navbar{
  height: 55px;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  background-color: #fff;
  border-radius: 0;
  margin: 0;
  padding: 0;

  .container-fluid{
    padding: 0;
  }

  .main-header{
    width: 40%;
    text-align: center;
    float: left;
    a{
      color: white;
      //font-size: 25pt;
      letter-spacing: 1px;
      font-weight: 400;
      transition: all 0.15s;
      text-transform: capitalize;
      &:hover{
        text-decoration: none;
      }
    }
  }

  .navbar-brand {
    padding-left: 15px !important;
    background-color: #fff;
    text-transform: capitalize;
    font-size: 18px;

  .context-box {
    // background-color: #868788;
    background-color: #aeaeae;
    height: 54px;
    margin-top: -15px;
    padding: 17px 15px 15px 15px;
    color: #fff;
    }

    .breadcrumbs {
      color: #fff;
    }

    .glyphicon-chevron-right {
      font-size: 14px;
    }

  }

 .breadcrumbs-title  {
    float: left;
    display: inline;
    font-size: 14px;
    color: #172639;
    font-size: 18px;
    margin-top: 16px;
    text-transform: capitalize !important;
  }

  .account{
    text-align: left;
    min-width: 106px;
    height: 55px;
    padding: 2px 10px 0;

    .account-logout{
      font-size: 12px;
      display: inline-block;
    }

    .account-name{
      margin-top: 20px;
      font-size: 12px;
      display: block;
      color: #172639;
      margin-bottom: -5px;
      font-family: 'CiscoSansExtraLight';
    }
  }
  .settings{
    border-left: 1px solid #e4e4e4;
    padding: 22px 5px 0 20px;
    height: 55px;
    cursor:pointer;
    font-size: 12px;

    .glyphicon-cog {
      color: #172639;
      font-size: 16px !important;
    }
  }
}

.navbar-toggle{
  display: block;
  float: left;
}

#wrapper {
  padding-left: 0;
  @include single-transition(all, 0.5s, ease);

  &.toggled {
    padding-left: 205px;

    .sidebar{
      width: 205px;
    }
  }
}

.sidebar{
  font-family: 'CiscoSansExtraLight';
  border-right: 1px solid #061622;
  //background-color: #1c2b36;
  background-color: #172639;
  z-index: 1010;
  position: fixed;
  left: 210px;
  width: 0;
  height: 100%;
  margin-left: -210px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s;

  .glyphicon {
      padding-right:10px;

      .glyphicon-dashboard {
        font-size: 14px;
        color: #fff;
        margin-right: 5px;
        }

      .glyphicon-user {
        font-size: 14px;
        color: #fff;
        margin-right: 5px;
      }

      .glyphicon-stats  {
        font-size: 14px;
        color: #fff;
        padding-right: 5px;
      }
    }

  h4{
    margin-left: 35px;
    //color: #314a5d;
    //color: #3a91a5;
    color: #fff;
    padding: 10px 0 10px 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    a:hover {
      color: #fff;
    }
  }

  .sidebar-wrapper{
    position: relative;
    min-height: 100%;
  }

  .sidebar-logo{
    height: 40px;
    margin: 6px 0 0 0;
    //height: 55px;
    border: 1px solid #14222a;
    border-bottom: none;

    img{
      width: 80px;
      margin: 6px auto;
      display: block;
    }

  }

  .nav-section{
    border-top: 3px solid #1f3857;

    &.last{
      padding-bottom: 60px;
    }

    .shadow{
      width: 100%;
      height: 2px;
      box-shadow: inset 0 0px 2px #253743;
    }
  }

  .sidebar-nav {
    width: 210px;
    padding: 0;
    list-style: none;
    background-color: #1C2B36;
    margin-bottom: 20px;

    li {
      background-color: #172639 !important;
      //background-color: #1C2B36 !important;
      border-left: 3px solid #1C2B36;
      transition: all 0.4s ease;
      position: relative;
      padding-left: 15px;
      display: block;

      &.active{
        background-color: #0c1521 !important;
        border-color: #fff;

        a{
          color: #fff;
        }
      }

      &:hover{
        background-color: #1e3554 !important;
        border-color: #fff;

        a{
          color: #fff;
        }

        .instant-input{
          opacity: 1;
          padding: 4px;
          border-radius: 4px;
        }
      }

      a{
        position: relative;
        display: block;
        padding: 10px 20px 10px 25px;
        color: #fff;
        //color: #9cb2c3;
        background-color: transparent;
        font-size: 10pt;
        transition: color 0.3s;
      }

      .instant-input{
        height: 16px;
        width: 35px;
        position: absolute;
        top: 28%;
        right: 10px;
        font-size: 7pt;
        opacity: 0;
        padding: 3px;
        color: #9cb2c3;
        transition: opacity 0.3s;
        border: none;
        outline: none;
        background-color: #273b4a;
        padding: 4px;
        border-radius: 4px;

        &::-webkit-input-placeholder { /* WebKit browsers */
            color:    #9cb2c3;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color:    #9cb2c3;
           opacity:  1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
           color:    #9cb2c3;
           opacity:  1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
           color:    #9cb2c3;
        }
      }
    }
  }
}

#sidebar::-webkit-scrollbar-track
{
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: transparent;
}

#sidebar::-webkit-scrollbar
{
  width: 8px;
}

#sidebar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #254163;
    margin: 2px;
}

.locations::-webkit-scrollbar-track
{
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: transparent;
}

.locations::-webkit-scrollbar
{
  width: 8px;
}

.locations::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #ddd;
    margin: 2px;
}

@include keyframes(close-menu-top) {
  0% {
    @include transform2d(rotate(0deg));
  }
  100% {
    @include transform2d(rotate(-25deg));
    width: 10px;
    margin-bottom: -4px;
    margin-top: 4px;
  }
}

@include keyframes(close-menu-bottom) {
  0% {
    @include transform2d(rotate(0deg));
  }
  100% {
    @include transform2d(rotate(25deg));
    width: 10px;
    margin-top: 0;
    margin-bottom: 4px;
  }
}

@include keyframes(close-menu-top-rev) {
  0% {
    @include transform2d(rotate(-25deg));
    width: 10px;
    margin-bottom: -4px;
    margin-top: 4px;
  }
  100% {
    @include transform2d(rotate(0deg));
  }
}

@include keyframes(close-menu-bottom-rev) {
  0% {
    @include transform2d(rotate(25deg));
    width: 10px;
    margin-top: 0;
    margin-bottom: 4px;
  }
  100% {
    @include transform2d(rotate(0deg));
  }
}

.navbar-toggle #bar-one{
  @include animation(close-menu-top 0.3s forwards);
}

.navbar-toggle #bar-three{
  @include animation(close-menu-bottom 0.3s forwards);
}

.navbar-toggle.menu-close #bar-one{
  @include animation(close-menu-top-rev 0.3s forwards);
}

.navbar-toggle.menu-close #bar-three{
  @include animation(close-menu-bottom-rev 0.3s forwards);
}
