<div id="wrapper" class="toggled">

  <!-- SIDEBAR -->
  <div class="sidebar" id="sidebar">
    <span class="sidebar-icon glyphicon glyphicon-dashboard"></span>
    <h4>DASHBOARDS</h4>
    <ul class="nav sidebar-nav">
      <li active-item><a ui-sref="app.globalView">Global View</a></li>
      <li active-item><a ui-sref="app.peerView">Peer View</a></li>
      <li active-item><a>AS View</a></li>
      <li active-item><a ui-sref="app.linkState">Link State</a></li>
      <li active-item><a>Looking Glass</a></li>
      <li active-item><a ui-sref="app.whoIs">Whois</a></li>
      <li active-item><a>Collector View</a></li>
      <!-- <li active-item><a ui-sref="app.worldWatch">World Watch</a></li>
      <li active-item><a ui-sref="app.summary">Summary</a></li> -->
  </ul>
  <span class="sidebar-icon glyphicon glyphicon-list-alt"></span>
  <h4>DETAILS</h4>
  <ul class="nav sidebar-nav">
      <li active-item><a ui-sref="app.peerAnalysis">Peer Analysis</a></li>
      <li active-item><a ui-sref="app.asAnalysis">AS Analysis</a></li>
      <!-- <li active-item><a ui-sref="app.aggregationAnalysis">Aggregation Analysis</a></li> -->
      <li active-item><a ui-sref="app.prefixAnalysis">Prefix Analysis</a></li>
  </ul>
  <span class="sidebar-icon glyphicon glyphicon-wrench"></span>
  <h4>ADMINISTRATION</h4>
  <ul class="nav sidebar-nav">
      <li active-item><a ui-sref="app.collectionServer">Collector</a></li>
      <li active-item><a>Database</a></li>
      <li active-item><a ui-sref="app.preferences">Preferences</a></li>
  </ul>
</div>
<!-- END SIDEBAR -->

<!-- CONTENT -->
<div class="main">

    <!-- HEADER -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" ng-click="toggleMenu()" id="menu-toggle" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" id="bar-one"></span>
            <span class="icon-bar" id="bar-two"></span>
            <span class="icon-bar" id="bar-three"></span>
        </button>
        <a class="navbar-brand" href="#">CISCO ROUTING ANALYTICS</a>
    </div>
    <div class="navbar-right account">
      <span class="text-light">Hello, {{username}}</span>
      <br>
      <a class="text-light" ng-click="logout()" href="#">Log out</a>
  </div>
</div>
</nav>
<!-- END HEADER -->

<!-- MAIN -->
<div class="container-fluid">
  <div ui-view></div>

  <!-- FOOTER -->
  <div class="footer">
    <!-- <p><span class="glyphicon glyphicon-heart"></span> from Harry</p> -->
</div>
<!-- END FOOTER -->

</div>
<!-- END MAIN -->

</div>
<!-- END CONTENT -->

</div>
