.detailsPanel {
  pre{
    height: 300px;
  }
}
.detailsHistoryPanel {
  pre{
    height: 300px;
  }
}

.margin-small{
  margin: 3%;
}

.green {
  //  background-color: #2dff07;
  color: green;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 6px;
  background: #ed8e42;
  color: #F5FFE0;
  border-radius: 10px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: #ed8e42;
  content: "\25BC";
  position: absolute;
  text-align: center;
  border-radius: 10px;

}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.redbar{
  width:42px;
  height:32px;
  background-color: white;
  //height:auto;
  float:left;
  display:inline
}

.greenbar{
  width:42px;
  height:32px;
  background-color: white;
  color:lightgreen;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

.whitebar{
  width:42px;
  height:32px;
  background-color: white;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

.redbar{
  width:42px;
  height:32px;
  background-color: white;
  color:red;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

.greenbar{
  width:42px;
  height:32px;
  background-color: white;
  color:lightgreen;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

//this part for communities change
.whitebarCommunities{
  width:80px;
  height:32px;
  background-color: white;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

.redbarCommunities{
  width:80px;
  height:32px;
  background-color: white;
  color:red;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

.greenbarCommunities{
  width:80px;
  height:32px;
  background-color: white;
  color:lightgreen;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}
.background { background-color: white !important;;}
