//.detailsPanel {
//  pre{
//    height: 300px;
//  }
//}
//.detailsHistoryPanel {
//  pre{
//    height: 300px;
//  }
//}



.redbar{
  width:42px;
  height:32px;
  background-color: transparent;
  //height:auto;
  float:left;
  display:inline
}

.greenbar{
  width:42px;
  height:32px;
  background-color: transparent;
  color:lightgreen;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

.whitebar{
  width:42px;
  height:32px;
  background-color: transparent;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

.redbar{
  width:42px;
  height:32px;
  background-color: transparent;
  color:red;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

//this part for communities change
.whitebarCommunities{
  width:80px;
  height:32px;
  background-color: transparent;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

.redbarCommunities{
  width:80px;
  height:32px;
  background-color: transparent;
  color:red;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

.greenbarCommunities{
  width:80px;
  height:32px;
  background-color: transparent;
  color:lightgreen;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

.modal-table {
  width: 80%;
  border: none;

  line-height: 2;
  text-transform: capitalize;
  background-color: #FFFFFF;
  overflow: auto;
  max-height: 600px;
  white-space: inherit;
  word-break: normal;
  font-family: inherit;
  padding: 0 30px;
  margin: 0;
  color: #5c6e7c;
  word-wrap: normal;



  td {
    vertical-align: top;
  }

  td:nth-child(odd) {
    font-weight: normal;
    color: #3F5869;
    padding-right: 20px;
  }
  td:nth-child(even) {
    font-family: 'CiscoSansExtraLight';
  }
}

$btn-colour: #314a5d;

.cust-btn {
  border-radius: 0;
  background-color: $btn-colour;
  border-color: $btn-colour;
}

.singleWordGreen{
  width:150px;
  height:32px;
  background-color: white;
  color:lightgreen;
  //height:auto;
  float:left;
  display:inline;
  //margin: 0.5%;
}

.singleWordRed {
  width: 150px;
  height: 32px;
  background-color: white;
  color: red;
  //height:auto;
  float: left;
  display: inline;
  //margin: 0.5%;
}

.background { background-color: white !important;;}




//Timeline
.timeline {
  list-style: none;
  margin: 40px;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-left {
    width: 110px;
    float: left;
    margin-top: 8px;
  }
  .timeline-left > h5 {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .timeline-right {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-right:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}

///* Creates a small triangle extender for the tooltip */
//.d3-tip:after {
//  box-sizing: border-box;
//  display: inline;
//  font-size: 8px;
//  width: 100%;
//  line-height: 1;
//  color: #ed8e42;
//  content: "\25BC";
//  position: absolute;
//  text-align: center;
//  border-radius: 10px;
//}
//
///* Style northward tooltips differently */
//.d3-tip.n:after {
//  margin: -1px 0 0 0;
//  top: 100%;
//  left: 0;
//}
