<div>
  <!------------------PREFIXANALYSIS---------------->


  <!--<bg-splitter orientation="vertical">-->
  <!--<bg-pane>-->
  <h1>prefix analysis</h1>
  <hr>
  <label>Prefix Number:</label>
  <p>
  <input type="text" ng-change="enterValue(searchPrefix)" ng-model="searchPrefix" placeholder="Search ..." />
  <button ng-click="getASInfo()">Get it!</button>
  <p class="help-block">Example: 176.105.176.0/24</p>
  <hr>
  <div class="detailsPanel">
    <!--Angular Table added here-->
    <pre ng-bind-html="getAsInfoValues"></pre>
  </div>
  <!--<div ng-hide="!hideAsInfo"> No data available now </div>-->
  <hr>
  <label>All entries for prefix {{searchPrefix}}  stored in DB:</label>
  <hr>
  <!--Angular Grid added here-->
  <div ui-grid-selection ui-grid="AllPrefixOptions" ></div>
  <!--<div ng-hide="!hidePrefixGrid"> No data available now </div>-->
  <hr>
  <label>History of prefix: {{searchPrefix}} </label>
  <hr>
  <div ui-grid-selection ui-grid="HistoryPrefixOptions"></div>
  {{$scope.HisData}}
  <!--<div ng-hide="!hideHisGrid"> No data available now </div>-->
  <!--</bg-pane>-->
  <!--</bg-splitter>-->
  <hr>
</div>
