<div class="margin-small" ng-controller="PrefixAnalysisController">
  <!------------------PREFIXANALYSIS---------------->
  <div>
    Prefix Number:
    <input type="text" ng-change="enterValue(value)" ng-model="value" placeholder="Search ..."/>
    <span class="help-block">Example: 202.70.64.0/21</span>
  </div>
  <hr>
  <div class="detailsPanel">
    <pre ng-bind-html="showValues"></pre>
  </div>
  <hr>
  <h3 class="pgtitle">All entries for prefix {{searchPrefix}} stored in DB</h3>
  <!--Angular Grid added here-->
  <div class="loading-section">
    <div ng-show="allPreLoad" bmp-loading loading-var="allPreLoad"></div>
    <div ui-grid="AllPrefixOptions" ui-grid-resize-columns></div>
  </div>

  <!--<hr>-->
  <h3 class="pgtitle">History of prefix {{searchPrefix}} </h3>

  <!--Selects BGP Peer please:-->
    <!--| orderBy : 'PeerName'-->
  <div class = "input">
  <select ng-model="peerData.selectPeer" ng-options="peer.PeerName for peer in peerData | orderBy : 'PeerName'"
            ng-change="selectChange()">
      <!--<option value="">All peers</option>-->
      <option value="">Selects BGP Peer please</option>
    </select>
  </div>
  <div>
    <div ng-show="showTip">
      Nothing changed in this one hour!
    </div>
    <d3-directive ng-model="data"></d3-directive>
  </div>
  <div ng-show="showGrid" ui-grid="HistoryPrefixOptions" ui-grid-selection ui-grid-resize-columns></div>
  <!--ng-show="showGrid"-->
  <br>

  <div>
    <button id="showButton" ng-click="showModal()">Show details</button>
  </div>

  <div id="bottom"></div>

</div>


