<div ng-controller="PrefixAnalysisController">
  <!------------------PREFIXANALYSIS---------------->
  <div class="main-page-search">
    Prefix Number:
    <input type="text" ng-change="enterValue(value)" ng-model="value" placeholder="Search ..."/>
    <span class="help-block">Example: 209.212.8.0/24</span>
  </div>

  <h3 ng-show="nodata">No Prefix matches this search</h3>

  <div ng-show="!nodata">
    <div class="main-area row">
      <div class="col-lg-12">
        <div class="table-container">
          <h3>Prefix Information</h3>
          <pre class="preStyle" ng-bind-html="showPrefixInfo"></pre>
        </div>
      </div>
    </div>

    <div class="main-area row">
      <div class="col-lg-12">
        <div class="table-container">
          <h3>Originating AS Information</h3>
          <pre class="preStyle" ng-bind-html="showValues"></pre>
        </div>
      </div>
    </div>

    <div class="main-area row">
      <div class="col-lg-12">
        <div class="table-container">
          <h3>All entries for prefix {{value}} stored in DB
            <button class="btn filter-button" ng-click="toggleFiltering()">Filter</button>
          </h3>
          <!--Angular Grid added here-->
          <!--<button ng-click="toggleFiltering()">Search</button>-->
          <div class="loading-section">
            <div ng-show="allPreLoad" bmp-loading loading-var="allPreLoad"></div>
            <div ui-grid="AllPrefixOptions" ui-grid-selection ui-grid-resize-columns></div>
            <div ng-show="oneRowSelected" style="margin-left: inherit">
              <button id="updatesBtn" class="btn btn-sm btn-default" ng-click="selectUpdates()">Updates</button>
              <button id="withdrawsBtn" class="btn btn-sm btn-default" ng-click="selectWithdraws()">Withdraws</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="isUpdatesSelected">
      <div class="main-area row">
        <div class="col-lg-12">
          <div class="table-container">
            <h3>History of prefix {{searchPrefix}} </h3>

            <div class="loading-section">
              <div ng-show="loading" bmp-loading loading-var="loading" font-width="80"></div>
              <!--Selects BGP Peer please:-->
              <!--| orderBy : 'PeerName'-->
              <div style="padding: 0 25px 25px">
                <div>
                  <div ng-show="showTip">
                    Nothing changed in this time!
                  </div>
                  <d3-directive ng-model="data"></d3-directive>
                </div>
                <br><br>


                <div ui-grid="HistoryPrefixOptions" ui-grid-selection ui-grid-resize-columns
                     ng-style="{height:HistoryPrefixOptions.height}" ng-if="HistoryPrefixOptions.data.length && showGrid">
                  <div class="watermark" ng-if="!HistoryPrefixOptions.data.length">Please select BGP Peer</div>
                </div>
                <br><br>

                <div ng-if="HistoryPrefixOptions.data.length && showGrid">
                  <button id="showButton" ng-click="showModal()" class="btn btn-info">Show details</button>
                </div>
              </div>
            </div><!-- end of loading-section -->
          </div>
        </div>
      </div>
    </div>

    <div ng-show="isWithdrawsSelected">
      <div class="main-area row">
        <div class="col-lg-12">
          <div class="table-container">
            <div class="loading-section">
              <div ui-grid="WithdrawsOptions" ui-grid-selection ui-grid-resize-columns
                   ng-style="{height:WithdrawsOptions.height}" ng-if="WithdrawsOptions.data.length">
                <div class="watermark" ng-if="!WithdrawsOptions.data.length">Please select BGP Peer</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


