<div>
  <!------------------WHO IS---------------->
    <h1>CARD TEST</h1>
    <hr>
    <!--Angular Table added here-->
    <div class="routerGrid" ui-grid-selection ui-grid="whoIsGridOptions"></div>
    <div class="peerGrid" ui-grid-selection ui-grid="peersGridOptions"></div>

    <!--added stuff-->
      <div ng-repeat="card in [].concat(cards).reverse()">
        <div bmp-router-card
             data="card"
             removeCard="cardRemove(card)"
             card-type="router">
        </div>
      </div>
    <!--end-->

    <!--&lt;!&ndash;added stuff&ndash;&gt;-->
      <!--<div ng-repeat="card in [].concat(cards).reverse()">-->
        <!--<div bmp-router-card-->
             <!--data="card"-->
             <!--removeCard="cardRemove(card)"-->
             <!--card-type="'router'">-->
        <!--</div>-->
      <!--</div>-->
    <!--&lt;!&ndash;end&ndash;&gt;-->


  <!--Router and Peers Cards-->
  <!--<div ng-repeat="cards[0]">-->
  <div ng-if=" cards[0]!= '' ">
    <div bmp-router-card
         data="cards[0]"
         removeCard="removeRouterCard()"
         card-type="router">
    </div>
  </div>
  <div ng-repeat="card in [].concat(cards[1]).reverse()">
    <div bmp-router-card
         data="card"
         removeCard="removePeerCard(card)"
         card-type="peer">
    </div>
  </div>
  <!--end-->
  <hr>

</div>
</div>
