<div>
  <!------------------WHO IS---------------->
  <h1>CARD TEST</h1>
  <hr>
  <h3>Dont click on csr1.openbmp.org lots of AS's!!!!</h3>
  <!--Angular Table added here-->
  <div class="routerGrid" ui-grid-selection ui-grid="whoIsGridOptions"></div>

  <!--Router and Peers Cards-->
  <div ng-repeat="peer in cards">
    {{ peer }}
    <div bmp-router-card
         data="peer"
         removeCard="removePeerCard()"
         card-type="peer.peer">
    </div>
    <div bmp-card
         template="globalViewPeer"
         data="peer">
         <!--removeCard="removePeerCard()"-->
    </div>

  </div>
  <!--end-->

  <hr>
</div>
