.round-table {
  display:table;
  border-radius:5px;
  border:1px solid grey;
  width: 100%;
  .bmp-server-table {
    width: 100%;
    td {
      border: 1px solid grey;
      padding: 5px;
    }
    td.right {
      text-align: right;
      border-right: 0;
      color: grey;
      font-style: italic;
    }
    td.top {
      border-top: 0;
    }
    td.left {
      border-left: 0;
    }
    td.bottom {
      border-bottom: 0;
    }
  }
}
