<div>
  <h1>BMP SERVER</h1>
  <br>

  <div class="round-table">
    <table class="bmp-server-table">
      <tr>
        <td class="left top">Host</td><td class="right top">db1.openbmp.org</td>
      </tr>
      <tr>
        <td class="left">Database</td><td class="right">172.12.14.18</td>
      </tr>
      <tr>
        <td class="left">Status</td><td class="right">Running</td>
      </tr>
      <tr>
        <td class="left">Active BMP Routers</td><td class="right">{{ active_routers }}</td>
      </tr>
      <tr>
        <td class="left bottom">Collector</td><td class="right bottom">Up</td>
      </tr>
    </table>
  </div>
</div>
