@import "compass/css3";

.loading{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    top: 220px;
    z-index: 1;
    position: absolute;
    padding-top: 10px;
}

.relative{
    position: relative;
}

.map-control{
    z-index: 1;
    top: 10px;
    opacity: 0.6;
    @include single-transition(opacity, 0.15s);
    position: absolute;

    &.search-loading{
        top: 18px;
        left: 210px;
        color: #aaa;
        @keyframes spin{
            from{
                @include rotateZ(0);
            }
            to{
                @include rotateZ(359deg);
            }
        }
        @include animation(spin 1s linear infinite);
    }
    &.reset {
        right: 10px;
    }
    &.search {
        border-radius: 8px;
        left: 50px;
        border: 1px solid #CCC;
        padding: 5px;
        width: 180px;
        padding-right: 30px;
        &:focus{
            opacity: 1;
            outline: none;
        }
    }
    &:hover{
        opacity: 1;
    }
}

.glyphicon-remove{
    font-size: 7pt;
}

.leaflet-popup{
    .leaflet-popup-tip {
        background-color: transparent;
        @include transform(none);
        padding: 0;
    }
}