@import "compass/css3";

.tooltip-inner {
  text-overflow: initial !important;
  width: 100% !important;
  max-width: 100% !important;
  font-family: 'CiscoSansExtraLight';
}

.nvtooltip{
  padding: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);

  h4{
    margin: 0; font-size:10pt;
  }
}

.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  background-color: #aaa !important;
  border: solid #FFFFFF !important;
}

.leaflet-control-zoomslider {
      box-shadow: rgba(0,0,0,0.2) 0 2px 5px !important;
    a{
        color: #aaa !important;
    }
}

.leaflet-control-zoomslider-knob {
  width: 14px !important;
  height: 6px !important;
  border: 1px solid #aaa !important;
  background-color: #efefef !important;
}

.leaflet-bar{
    background-color: #fff !important;
    border: 1px solid #fff !important;
    border-color: rgba(0,0,0,0.2) !important;
}

.map-loading{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1001;
    position: absolute;
    left: 0;
    opacity:0;
    transition: opacity 0.2s;
    pointer-events: none;

    @keyframes spin {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }

    .glyphicon{
        animation: spin 2s linear forwards infinite;
        font-size: 80pt;
        color: #ddd;
        text-shadow: 1px 1px #C3C3C3;
        top: 30%;
    }
    &.active{
        opacity: 1;
        pointer-events: all;
    }
}

.relative{
    position: relative;
    height: 100%;
}

.error{
    position: absolute;
    z-index: 999999;
    background-color: white;
    color: #DB9090;
    top: 12px;
    left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.2) 0 3px 5px;
    border: 2px solid rgb(219, 144, 144);
}

.map-container{
  border: 1px solid #d5d5d5;
  height: 100%
}

.map-control{
    z-index: 1;
    position: absolute;

    &.info{
        bottom: 40px;
        top: initial;
        width: 100%;
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 0.6s, transform 0.6s;
        text-align: center;
        z-index: 1002;
        pointer-events: none;
        span{
            text-align: center;
            background-color: #333;
            opacity: 1;
            color: #fff;
            padding: 12px;
            border-radius: 17px;
            box-shadow: rgba(0,0,0,0.5) 0 2px 8px;
        }
        &.active{
            transform: translateY(0);
            opacity: 1;
        }
        &:hover{
            opacity: 0;
        }
    }

    &.router-list{
        .panel-search{
            position: absolute;
            right: 15px;
            top: 15px;

            input{
              outline: none !important;
            }

            .glyphicon-remove{
                color: #b81f1f;
                cursor: pointer;
                font-size: 12pt;
                z-index: 8;
                transition: right 0.5s, opacity 0.5s, color 0.2s;
                top: 4px;
                opacity: 0;
                &:hover{
                    color: #c51717;
                }
            }
        }

        right: 0;
        color: white;
        //box-shadow: rgba(0,0,0,0.2) 0 2px 10px;

        h3{
            font-weight: 200;
        }

        .search{
          width: 0px;
          opacity: 0;
          padding: 5px;
          margin: 0;
          font-size: 12px;
          right: 10px;
          z-index: 2;
          color: #aaa;
          border: 1px solid #f7f7f7;
          transition: width 0.5s, opacity 0.5s;
          font-family: 'CiscoSansExtraLight';
          &::-webkit-input-placeholder { /* WebKit browsers */
              color:    #c3c3c3;
          }
          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
             color:    #c3c3c3;
             opacity:  1;
          }
          &::-moz-placeholder { /* Mozilla Firefox 19+ */
             color:    #c3c3c3;
             opacity:  1;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10+ */
             color:    #c3c3c3;
          }
        }

        .row{
            width: 100%;
            display: inline-block;
            div, h3{
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
        }

        &.active-location{
            opacity: 1;
        }

        .pointer{
            display: inline-block;
            transition: transform 0.5s;
        }

        .panel-header{
            padding: 18px;
            margin: 0;
            font-size: 13pt;
            z-index: 3;
            text-transform: uppercase;
            background-color: #fff;
            color: #1c2b36;
            display: block;
            position: relative;
            height: 55px;
            border-bottom: 1px solid #EFEFEF;

            &.selected-router{
                height: 42px;
                padding: 15px 0px 12px 29px;
                position: absolute;
                background-color: #fff;
                z-index: 1;
                width: 100%;
                cursor: default;

                h3{
                    font-size: 12px;
                    margin: 0 0 5px 0;
                }

                .remove-router{
                    position: absolute;
                    color: #d5d5d5;
                    top: 12px;
                    left: 5px;
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    text-align: center;
                    line-height: 18px;
                    transition: background-color 0.3s;
                    cursor: pointer;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }

        .main {
            background-color: white;
            color: #555;
            height: 100%;
            background-color: #f6f6f6;
            margin-top: -55px;
            font-family: 'CiscoSansExtraLight';
            padding-bottom: 140px;

            &.no-panel{
              padding-bottom: 0;
            }

            .routers, .peers{
                padding: 0;
                margin: 0;
                list-style-type: none;
                cursor: pointer;
                font-size: 12px;
                background-color: white;
                color: #5c6e7c;
                li{
                    padding: 0px 0 0px 30px;
                    position: relative;
                    &:nth-child(even){
                      background-color: #fbfbfb;
                    }
                    &:hover{
                        padding-left: 40px;
                    }

                    transition: padding-left 0.5s, background-color 0.1s;
                }
                .is-up{
                    position: absolute;
                    right: 10px;
                    top: 13px;

                    icon{
                        font-size: 12pt;
                    }
                }
            }

            // .peers li:active{
            //     background-color: #FFF8ED;
            // }

            // .routers li:active{
            //     background-color: #E5F6FF;
            // }

            .locations{
                padding: 0;
                margin: 55px 0 0 0;
                overflow-y: auto;
                list-style-type: none;
                height: 100%;
                li{
                    position:relative;
                    margin: 0px;
                    line-height: 2.8rem;
                }
            }

            .go-to-location{
                  font-size: 13pt;
                  padding: 4px;
                  color: #999;
                  z-index: 2;
                  position: absolute;
                  top: 8px;
                  right: 6px;
                  width: 25px;
                  height: 25px;
                  border-radius: 14px;
                  text-align: center;
                  transition: background-color 0.25s;
                  cursor: pointer;
                  &:hover{
                    background-color: #ddd;
                  }
            }

            .router-list-city{
                cursor: pointer;
                padding: 0 10px;
                line-height: 3rem;
                margin: 0;
                transition: background-color 0.1s;
                background-color: #f6f6f6;
                color: #5c6e7c;
                &.ng-binding {
                  font-size: 1.2rem;
                }
                .count{
                    text-align: right;
                    color: #bbb;
                }
                .glyphicon-play{
                    width: 1em;
                    margin-right: 8px;
                    font-size: 75%;
                    top: 0;
                    transition: transform 0.25s;
                }

                &.expanded, &.expanded-by-map{
                    .glyphicon{
                        transform: rotate(90deg);
                    }
                }
            }
        }
        &.expanded{
              width: 28.1% !important;
              border-right: 1px solid #d5d5d5;
              border-left: 1px solid #d5d5d5;
            .search{
                width: 80px;
                opacity: 1;
            }
            .pointer{
                transform: rotate(180deg);
            }
            .glyphicon-remove{
              opacity: 1;
            }
        }
        &.with-router{
            .main .locations {
              margin-bottom: 0;
              margin-top: 97px;
            }
        }
        &.peers-only .main .locations{
          margin-top: 55px;
        }
    }
    &:hover{
        opacity: 1;
    }
}

.glyphicon-remove{
    font-size: 7pt;
}

.marker{
    icon{
        color: #DFC089;
    }
    span{
        position: absolute;
        text-align: center;
        width: 100%;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.2), 1px -1px 0 rgba(0,0,0,0.2), -1px 1px 0 rgba(0,0,0,0.2), 1px 1px 0 rgba(0,0,0,0.2);
        font-size: 8pt;
        top: 9px;
        color: white;
    }
}

.leaflet-popup{
    .leaflet-popup-content{
        padding-bottom: 5px;
    }
    .leaflet-popup-tip {
        background-color: transparent;
        @include transform(none);
        padding: 0;
    }
}

.map{
    // transition: height 0.5s 0.5s;
}

.expanded-section {
  border-top: 1px solid #EFEFEF;
  background-color: #fff;
  width: 100%;
  height: 140px;
  transition: height 0.8s;
  position: absolute;
  z-index: 1001;
  bottom: 0;
  overflow: hidden;
  padding: 5px;

  .col-xs-6{
    padding: 0;
  }

  .map-control {
    &.router-list {
      &.main  {
        &.router-list-city {
          cursor: pointer;
          padding: 10px;
          margin: 0;
          transition: background-color .1s;
          background-color: #f6f6f6;
          color: #5c6e7c;
        }
      }
    }
  }

  svg{
      .nvd3.nv-pie path {
          stroke: none;
      }
      // margin-bottom: 30px;
  }
}

.peer-chart{
    width: 130px;
    height: 130px;
    border-radius: 75px;
    position: relative;
    margin: 0;
    p{
      color: #555;
      text-align: center;
      width: 75px;
      position: absolute;
      height: 50px;
      left: 21%;
      top: 28%;
      font-size: 1.3rem;

      .count{
        font-size: 2.7rem;
        display: block;
        margin-bottom: -27px;
      }
    }
}

.peers-up-down{
  position: absolute;
  left: 40%;
  font-size: 10px;
  top: 30%;
  line-height: 1.6rem;
  font-family: 'CiscoSansExtraLight';

  .peers-up{
    color: rgb(123, 173, 133);
    margin-bottom: 0;
  }
  .peers-down{
    color: rgb(173, 123, 123);
    margin-bottom: 0;
  }
  .line{
    width: 98%;
    height: 2px;
    background-color: #E4E4E4;
  }

}

.ip-section {
  width: 120px;
  height: 100%;
  float: left;
  padding:9px;
}


.ip-section {
  width: 120px;
  height: 100%;
  float: left;
  padding:9px;
}

.top-chart .nvtooltip{
  display: none !important;
}

.ui-grid-disable-selection {
  -webkit-touch-callout: inherit;
  -webkit-user-select: inherit;
  -khtml-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  user-select: inherit;
  cursor: inherit;
}

.webui-popover-title {
  font-size: 1.2rem;
}

.list-group {
  max-height:200px;
  overflow:auto;
  overflow-y: auto;
  .list-group-item {
    padding: 3px 6px;
    font-size: 1.2rem;
    background-color: #e6edf1;
    border: none;
    &:nth-child(even) {
      background-color: #c4d7e1;
    }
    .circle-down, .circle-up {
      margin-right: 5px;
      }
  }
}

.hand-clickable{
  cursor: pointer;
}

.circle-up::before{
  content: '\25CF';
  color: #7bad85;
  font-size:15px;
}

.circle-down::before{
  content: '\25CF';
  color: #ad7b7b;
  font-size:15px;
}
