<div class="relative">
  <div class="loading" ng-class="{active: loading}">
      <span class="glyphicon glyphicon-refresh"></span>
  </div>

  <div ng-show="error" class="error">
    {{error}}
  </div>

  <div ng-show="location === 'globalView' || location === 'peerView'" class="map-control router-list" ng-class="{expanded: expandList, 'with-router': selectedRouter != undefined, 'active-location': selectedLocation != undefined, 'peers-only': selectedRouter === true}">
    <div class="panel-search">
      <span class="glyphicon glyphicon-remove" ng-show="panelSearch" ng-click="panelSearch = ''"></span>
      <input type="text" placeholder="Search" class="search" ng-model="panelSearch" ng-click="expandPanelLocations()"/>
    </div>
    <h3 class="panel-header" ng-init="expandList = false" ng-click="expandList = !expandList">
      <strong class="pointer">&lt;</strong> {{panelTitle}}
    </h3>

    <div ng-show="selectedRouter != undefined && selectedRouter != true" class="panel-header selected-router">
      <div class="row">
        <div class="col-xs-6"><h3>{{selectedRouter.RouterName}}</h3></div>
        <div class="col-xs-6"><h3>{{selectedRouter.RouterIP}}</h3></div>
        <span ng-click="deselectPanelRouter()" class="remove-router">x</span>
      </div>
    </div>

    <div class="main" ng-class="{expanded: expandList, 'peers-only': selectedRouter === true, tall: !selectionMade}">
      <ul class="locations" ng-hide="selectedRouter"  ng-style="{'max-height': panelHeight}">
        <li ng-repeat="location in locations | orderBy: 'options.city'" ng-hide="selectedRouter" ng-show="filteredRouters.length">
          <p class="router-list-city" ng-class="{expanded: location.expandRouters}" ng-click="selectPanelLocation(location)">
            <span class="glyphicon glyphicon-play"></span>{{location.options.city}}
            <span class="count">({{location.options.routers.length}})</span>
          </p>
          <span class="go-to-location glyphicon glyphicon-search" ng-click="goto(location)"></span>
          <ul class="routers" ng-show="location.expandRouters">
            <li ng-repeat="router in filteredRouters = (location.options.routers | filter:panelSearch)" ng-click="selectPanelRouter(location, router)">
              <div class="row">
                <div class="col-xs-6" tooltip-popup-delay="1000" tooltip="Name: {{router.RouterName}}" tooltip-placement="top">{{router.RouterName}}</div>
                <div class="col-xs-6">{{router.RouterIP}}</div>
              </div>
              <span class="is-up">
                <icon ng-show="router.isConnected" class="bmp-up"></icon>
                <icon ng-show="!router.isConnected" class="bmp-down"></icon>
              </span>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="locations" ng-show="selectedRouter"  ng-style="{'max-height': panelHeight}">
        <li ng-attr-id="id{{location.options.id}}" ng-repeat="(latlng, location) in peerDictionary | orderBy: 'location.options.city'" ng-show="filteredPeers.length">
          <p class="router-list-city" ng-class="{expanded: location.options.expandPeers}" ng-click="selectPanelPeerLocation(location)">
            <span class="glyphicon glyphicon-play"></span>{{location.options.city}}
            <span class="count">({{location.options.peers.length}})</span>
          </p>
          <span class="go-to-location glyphicon glyphicon-search" ng-click="goto(location)"></span>
          <ul class="peers" ng-show="location.options.expandPeers">
            <li ng-repeat="peer in filteredPeers = (location.options.peers | filter:panelSearch)" ng-click="selectPanelPeer(location, peer)" tooltip-popup-delay="1000" tooltip="Router: {{peer.RouterName}}" tooltip-placement="bottom">
              <div class="row">
                <div class="col-xs-6" tooltip-popup-delay="1000" tooltip="Name: {{peer.PeerName}}" tooltip-placement="top">{{peer.PeerName}}</div>
                <div class="col-xs-6">{{peer.PeerIP}}</div>
              </div>
              <span class="is-up">
                <icon ng-show="peer.isUp" class="bmp-up"></icon>
                <icon ng-show="!peer.isUp" class="bmp-down"></icon>
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div ng-class="{active: activeInfo}" class="map-control info">
    <span>{{info}}</span>
  </div>


  <!--bottom pane-->
  <div class="bottom-pane" ng-show="!loading && location === 'globalView'" ng-init="closed=true">

    <div ng-class="{'top':!closed}" class="collapsed-section">
      <div class="bmp-expand coll-icon" ng-click="closed=!closed"></div>
    </div>

    <!--expanded-->
    <div class="expanded-section" ng-show="!closed && !loading">

      <div style="float: left">
        <div>PEER</div>
        <!--IP Boxes-->
        <div class="ip-section" ng-repeat="peer in bgpPeers" ng-style="{'background-color':peer.colour}">
          <!--top section-->
          <div style="width: 100%; height: 35px;">
            <!--top left //ipv4-->
            <div style="float:left;text-align: center">
              <!--type-->ipv4
              <br>
              <!--total-->{{ peer.ipv4 }}
            </div>
            <!--top right //ipv6-->
            <div style="float:right;text-align: center">
              <!--type-->ipv6
              <br>
              <!--total-->{{ peer.ipv6 }}
            </div>
          </div>
          <!--bottom-->
          <div style="text-align: center">
            <!--total--><h3>{{ peer.total }}</h3>
            <!--type-->{{ peer.type }}
          </div>
        </div>
      </div>

      <!--Chart-->

      <div style="float: left">
        <div style="background-color: white;width: 600px;height: 129px;float: left;margin-top: 21px;color:#000000;">
          <nvd3 options="topChartOptions" data="topChartData"></nvd3>
        </div>
      </div>

      <div class="left">
        <div>BMP ROUTER</div>
        <!--Router Boxes-->
        <div class="ip-section" style="background-color: #0266a0;">
          <!--top section-->
          <div style="width: 100%; height: 35px;">
            <!--top left //ipv4-->
            <div style="float:left;text-align: center">
              <!--type-->UP
              <br>
              <!--total-->{{ routerTotals[0] }}
            </div>
            <!--top right //ipv6-->
            <div style="float:right;text-align: center">
              <!--type-->DOWN
              <br>
              <!--total-->{{ routerTotals[1] }}
            </div>
          </div>
          <!--bottom-->
          <div style="text-align: center">
            <!--total--><h3>{{ routerTotals[2] }}</h3>
            <!--type-->TOTAL
          </div>
        </div>
      </div>

    </div>

  </div>

  <leaflet ng-attr-id="{{id}}" class="map" defaults="defaults" height="{{mapHeight}}" width="100%" resize></leaflet>
</div>
