<div class="relative">
{{ping}}
  <div class="loading" ng-show="loading">
      <span class="text-light">loading...</span>
  </div>

  <button ng-show="selected" class="btn btn-primary map-control reset" ng-click="clearPeers(true)">
      <span class="glyphicon glyphicon-remove"></span>
      {{chosenRouter.options.RouterName}}
  </button>

  <!-- <input type="text" ng-model="search" class="map-control search" placeholder="Search"/> -->

  <leaflet defaults="defaults" height="480px" width="100%"></leaflet>
</div>