.ui-autocomplete {
  //ul.ui-autocomplete.ui-menu li{
  font-size: 11px;
  font-weight: lighter;
  border-style: solid;
}

.ui-autocomplete-input {
  font-weight: lighter;
}

.fixedHeight {
  height: 297px;
}

.preStyle {
  line-height: 2;
  text-transform: capitalize;
  background-color: #FFFFFF;
  border: none;
  overflow: auto;
  max-height: 800px;
  white-space: inherit;
  word-break: normal;
  font-family: inherit;
  font-size: 13px;
  padding: 0 30px;
  margin: 0;
  color: #5c6e7c;
  word-wrap: normal;

  table {
    width: 100%;

    .hoz-line {
      hr {
        margin: 10px 0;
        border-top: 2px solid #f6f6f6;
      }
    }
    td:nth-child(odd) {
      font-weight: normal;
      color: #3F5869;
    }
    td:nth-child(even) {
      font-family: 'CiscoSansExtraLight';
    }
  }
}

#AS_topology, #link_state_topology {
  border: 1px solid #D4D4D4;
}

.main-page-search {
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;

  .input {
    padding-bottom: 0;
  }
}

.AS-view .table-container {
  height: 560px;
}

.d3-container {
  background-color: #FFFFFF;
  border: solid 1px;
  border-color: #D4D4D4;
  border-radius: 0px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
  &:hover {
    cursor: pointer;
  }
}

.link {
  fill: none;
  stroke: #dadada;
  stroke-width: 1.5px;
  &:hover {
    stroke: lightblue;
  }
}

.d3-tip {
  line-height: 1.2;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.scrollingContainer {
  border: 1px solid #ccc;
  overflow: scroll;
  position: relative;
  height: 400px;
  width: 500px;
}