.ui-autocomplete{
  //ul.ui-autocomplete.ui-menu li{
  font-size: 11px;
  font-weight: lighter;
  border-style: solid;
}

.ui-autocomplete-input{
  font-weight: lighter;
}

.help-block{
  display: inline;
}

.fixedHeight{
   height: 297px;
}

.whois-info {

  background-color: #FFFFFF;

  border: solid 1px;

  border-color: #D4D4D4;

  border-radius: 0px;

  padding: 30px;



  p {

    text-transform: uppercase;

    color: black;

    font-weight: normal;

  }

}

.preStyle {

  line-height: 2;
  text-transform: capitalize;
  background-color: #FFFFFF;
  border: none;
  overflow: auto;
  max-height: 800px;
  white-space: inherit;
  word-break: normal;
  font-family: inherit;
  font-size: 13px;
  padding: 0 30px;
  margin: 0;
  color: #5c6e7c;
  word-wrap: normal;

    table{
      width: 100%;

      .hoz-line {
        border-bottom: solid 1px #D4D4D4
      }
      td:nth-child(odd) {
        font-weight: normal;
        padding-right: 50px;
        color: #3F5869;
      }
      td:nth-child(even) {
        font-family: 'CiscoSansExtraLight';
      }
    }
  }