<div class="margin-small">
  <!--<h1 class="pgtitle"> AS View</h1>-->
  <div>
    AS Number or AS Name
    <input id="tags" type="text" size="50" ng-change="enterValue(searchValue)" ng-model="searchValue" placeholder="Search ..."/>
    <span class="help-block">Example: 109/Cisco</span>

    <h3 ng-show="nodata">This AS doesn't exist</h3>
    <!--<h3 style="display:none;" id="dbina">DB is not available. Please, wait a minute then try-->
    <!--again! :)</h3>-->
  </div>

  <div ng-show="!nodata" class = "margin-small">
    <div class="row">
      <div class="col-lg-6">
        <p class="pgtitle-small">Whois Information for AS {{asn}}</p>
        <div class="detailspanel gridStyle-abreast">
          <pre class="preStyle fixedHeight" ng-bind-html="details"></pre>
        </div>
      </div>
      <div class="col-lg-6">
        <p class="pgtitle-small">Prefixes Originated by AS {{asn}}</p>
        <div class="gridStyle-abreast" ui-grid="prefixGridOptions" ui-grid-auto-resize></div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <p class="pgtitle-small">Upstream ASes of AS {{asn}}</p>

        <div ng-show="!upstreamNodata" class="gridStyle-abreast" ui-grid="upstreamGridOptions"
             ui-grid-auto-resize></div>
        <p ng-show="upstreamNodata">There is no upstream of this AS</p>
      </div>
      <div class="col-lg-6">
        <p class="pgtitle-small">Downstream ASes of AS {{asn}}</p>

        <div ng-show="!downstreamNodata" class="gridStyle-abreast" ui-grid="downstreamGridOptions"
             ui-grid-auto-resize></div>
        <p ng-show="downstreamNodata">There is no downstream of this AS</p>
      </div>
    </div>

    <div id="AS_topology"></div>
  </div>
</div>



