<div ng-controller="BmpCardGlobalPeerInsertController">

  <!--Peer info table-->
  <h4>Downstream ASes of Peer {{ data.PeerName }}</h4>
  <div class="loading-section">

    <div
      ng-show="summaryPeerOptions.summaryGridIsLoad"
      bmp-loading>
    </div>

    <div
      ui-grid="summaryPeerOptions"
      ui-grid-auto-resize
      ng-style="{'height':summaryPeerOptions.height}">
      <div class="watermark" ng-if="!summaryPeerOptions.data.length">No data available</div>
    </div>

  </div>
</div>
