<!------------------Aggregation Analysis---------------->
<div ng-controller="aggregationanalysisController">
  <div class="main-page-search">
    AS Number:
    <input type="text" ng-model="searchASN" placeholder="Search ..."/>
    <button ng-click="getASNInfo()" class="btn btn-sm btn-info">Search</button>
  </div>

  <div class="main-area row">
    <div class="col-lg-12">
      <div class="table-container">
        <h3>Prefix Information</h3>
        <div class="loading-section">
          <div ng-show="PrefixTableIsLoad" bmp-loading loading-var="PrefixTableIsLoad"></div>
          <div ui-grid-selection ui-grid-auto-resize ui-grid="ShowPrefixesOptions" ui-grid-resize-columns>
            <div class="watermark" ng-if="!ShowPrefixesOptions.data.length">No data available</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--this part is peer select.-->
  <div class="main-area row">
    <div class="col-lg-12">
      <div class="table-container">
        <h3>
          Aggregate prefixes, originated by {{searchASN}}
        </h3>
        <!--Selects BGP Peer please:-->
        <!--<select ng-model="peerData.selectPeer" ng-options="peer.PeerName as peer.title for peer in peerData" ng-change="selectChange()">-->
        <div class="input">
          <select ng-model="peerData.selectPeer" ng-options="peer.PeerName for peer in peerData | orderBy : 'PeerName'"
                  ng-change="selectChange()" class="select">
            <option value="">Selects BGP Peer please</option>
          </select>
        </div>

        <div ng-if="showGraphTable">
          <span ng-style="{'padding-left': '20px'}">
            Efficiency of aggregation: {{efficiency}}
          </span>
        </div>

        <div ng-if="showGraphTable">
          <!--show the efficiency chart-->
          <nvd3 options="chartOptions" data="data"></nvd3>

          <!--show redundant options-->
          <div ui-grid-selection ui-grid-auto-resize ui-grid="ShowRedundantOptions" ui-grid-resize-columns ng-if="showGrid" ng-style="{'height': ShowRedundantOptions.height}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
