 <!------------------Aggregation Analysis---------------->
<div ng-controller="aggregationanalysisController">

  <h1>Aggregation analysis</h1>
  <hr>
  <label>AS Number:</label>
  <p>
    <input type="text" ng-model="searchPrefix" placeholder="Search ..." />
    <button ng-click="getsShowPrefixInfo()">Get it!</button>

  <div ui-grid-selection ui-grid="ShowPrefixsOptions" ></div>

  <hr>

  <!--this part is peer select.-->
  <label>Aggregate prefixes, originated by {{searchPrefix}}:</label>
  <div>
    Selects BGP Peer please:
    <p>
    <!--<select ng-model="peerData.selectPeer" ng-options="peer.PeerName as peer.title for peer in peerData" ng-change="selectChange()">-->
    <select ng-model="peerData.selectPeer" ng-options="peer.PeerName for peer in peerData | orderBy : 'PeerName'" ng-change="selectChange()">
    <option value="">All peers</option>
    </select>
      <hr>
      Efficiency of aggregation:
      <p ng-bind="efficiency"></p>
  </div>
  <!--show the efficiency chart-->
  <nvd3 options="chartOptions" data="data"></nvd3>

  <!--show redundant options-->
  <div ui-grid-selection ui-grid="ShowRedundantOptions" ui-grid-resize-columns ></div>
  <hr>
</div>
