.link-state-view {
  padding: 15px;
}

.locations {
  .expanded {
    .glyphicon {
      transform: rotate(90deg);
    }
    .locationItems {
      visibility: visible;
    }
  }
}

.icon-image {
  height:25px;
  width:25px;
  margin-left:-7px;
  margin-top:-11px;
}

.icon-text {
  width:100px;
  margin-left:-43px;
  white-space:nowrap;
  padding-top:5px;
  display:block;
  text-align: center;
}

.path-trace {
  height: 60px;
  margin: 7px;
  img {
    height: 35px;
    width: 35px;
  }
  .glyphicon {
    color: black;
    font-size: 15px;
  }
  h5 {
    margin: 4px;
    cursor: pointer;
  }
}

.text-center ul {
  padding-left: 0;
}

.tab-content {
  //height:100%;
  border-bottom: none;
}

.map-container {
  border-top: none;
}
