.cardArea {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  border-radius: 3px;
  border-color: grey;
  background-color: #EFEFEF;
  margin: 2px auto;
  .content {
    display: inline;
    .red {
      color: red;
    }
    .green {
      color: green;
    }
    .collapsed {
      display: inline;
    }
    .peerCard {

    }
    .routerCard {
      svg {
        display: inline;
      }
    }
    .routerLoc {
      text-align: left;
      border-style: solid;
      border-width: 1px;
      width: 100%;
      margin-left: 20px;
    }
    .noRouterLoc {
      width: 200px;
      height: 150px;
      td {
        padding: 20px;
        text-align: center;
      }
    }
    .tableSummary {
      width: 100%;
      td, th {
        padding: 3px;
        border-style: solid;
        border-width: 1px;
      }
    }
  }
}
