<div class="cardArea">
  <span ng-switch="cardType">
    <div class="content">

      <!--COLLAPSED view-->
        <div ng-hide="cardExpand" class="collapsed">
          <span class="glyphicon"  ng-class="{'glyphicon-plus': !cardExpand, 'glyphicon-minus': cardExpand}"
                ng-click="changeCardState()">
          </span>
          <span class="glyphicon right glyphicon-remove" ng-click="removecard(data.asn)"></span>
          <!--Router Card-->
          <span ng-switch-when="router" class="routerCard">
            <div class="col-sm-2">BMP Router |</div>
            <div class="col-sm-2">{{data.RouterName}} |</div>
            <div class="col-sm-2">{{data.RouterIP}} | </div>
            <div class="col-sm-2">
              <span ng-class="{'red': data.isConnected!='1', 'green': data.isConnected=='1'}">
                {{ isUP }}
              </span>
            </div>
          </span>

          <!--Peer Card-->
          <span ng-switch-when="peer" class="peerCard">
              <div ng-hide="cardExpand" class="collapsed">
                BMP Peer |
                {{data.PeerASN}} |
                {{data.PeerName}} |
                {{data.PeerIP}}
              </div>
          </span>
        </div>

        <!--EXPANDED view-->
        <div ng-show="cardExpand">
          <span class="glyphicon"  ng-class="{'glyphicon-plus': !cardExpand, 'glyphicon-minus': cardExpand}"
                ng-click="changeCardState()">
          </span>
          <span class="glyphicon right glyphicon-remove" ng-click="removecard(data.asn)"></span>

          <span ng-switch-when="router" class="routerCard">
            <!--Router Card-->
            <h3>BMP Router</h3>

            <span style="float: right;text-align: right;">
              BMP Up Time
              <span style="color: green;">
                {{ upTime }}
              </span>
            </span>

            <h4>{{ data.RouterName }}</h4>
            <br>

            <!--Location table-->
            <div class="row">

              <div class="col-md-4">
                <span ng-bind-html="locationInfo"></span>
              </div>

              <div class="col-md-4">
                <!--Router SVG-->
                <svg width="230" height="100" style="width:230px; height:100px; padding-top:50px;" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <g>
                      <g id="svg_link">
                        <line stroke="rgb(255,0,0)" stroke-width="2" y2="21.5" x2="200" y1="21.5" x1="22"/>
                      </g>
                      <g id="svg_router">
                        <ellipse fill="#ff007f" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="23" cy="23.5" id="svg_12" rx="22" ry="21.5"/>
                        <path fill="#ffaaff" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m1.8348,21.35545l10.1537,-0.0532l-0.0235,-4.2805l6.8049,6.48255l-6.23725,6.259l-0.2215,-4.08485l-10.25378,-0.04355l-0.22258,-4.27945l0.00001,0z" id="svg_2"/>
                        <path fill="#d4aaff" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m20.4888,43.7042l0.14675,-9.92205l-4.37965,-0.06185l6.7668,-6.5205l6.27975,6.2183l-4.18345,0.1355l-0.2477,10.0179l-4.3825,0.1327l0,0z" id="svg_3"/>
                        <path fill="#d4aaff" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m43.66705,25.3543l-10.1537,0.0513l0.02265,4.28045l-6.8036,-6.4838l6.23845,-6.25785l0.2207,4.0849l10.2538,0.0455l0.2217,4.2795l0,0z" id="svg_4"/>
                        <path fill="#ffaaff" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m25.21665,3.56318l-0.03195,9.92302l4.3801,0.01345l-6.69095,6.59485l-6.3513,-6.1485l4.1816,-0.1817l0.1318,-10.02001l4.3807,-0.18111l0,0z" id="svg_6"/>
                      </g>
                      <g id="svg_peer">
                        <ellipse fill="#ff007f" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="200" cy="23.5" rx="22" ry="21.5" id="svg_12"/>
                      </g>
                    </g>
                    <text xml:space="preserve" text-anchor="middle" font-family="Sans-serif" font-size="24" id="svg_1" y="29.91202" x="199.91203" stroke-width="0" stroke="#000000" fill="#000000">{{ peersAmount }}</text>
                  </g>
                </svg>
                <!--END SVG-->
              </div>

              <div class="col-md-4">
                <nvd3 options="options" data="datas"></nvd3>
              </div>

            </div>

            <!--ROUTER up time graph-->
            <nvd3 options="upTimeOptions" data="upTimeData" api="api"></nvd3>
            <!--end router card-->
            <br>
          </span>


          <span ng-switch-when="peer" class="peerCard">
            <!--Peer Card-->
            <span style="float: right;text-align: right;">
              Peer Down Time
              <span ng-class="{'red': downTime!='Up', 'green': downTime=='Up'}">
                {{ downTime }}
              </span>
            </span>

            <h3>Peer Detail</h3>
            <h4>{{ data.PeerName }}</h4>


            <div class="col-md-5">
              <!--SVG for the Router and Peers-->
              <svg width="350.00000000000006" height="150" style="width:350px; height:150px;" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <g id="svg_link">
                    <line x1="56.50251" y1="95.01256" x2="234.50251" y2="95.01256" stroke-width="2" stroke="rgb(255,0,0)"/>
                  </g>
                  <g id="svg_router">
                    <ellipse ry="21.5" rx="22" id="svg_12" cy="94.5" cx="57" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="#000000" fill="#ff007f"/>
                    <path id="svg_2" d="m35.8348,92.35545l10.1537,-0.05322l-0.0235,-4.28049l6.8049,6.48255l-6.23725,6.259l-0.2215,-4.08485l-10.25378,-0.04355l-0.22258,-4.27945l0.00001,0z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="#000000" fill="#ffaaff"/>
                    <path id="svg_3" d="m54.4888,114.7042l0.14675,-9.92205l-4.37965,-0.06185l6.7668,-6.5205l6.27974,6.2183l-4.18344,0.13551l-0.2477,10.01788l-4.3825,0.13271l0,0z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="#000000" fill="#d4aaff"/>
                    <path id="svg_4" d="m77.667,96.3543l-10.15359,0.0513l0.02259,4.2804l-6.8036,-6.4838l6.2385,-6.2578l0.2207,4.0849l10.2538,0.0455l0.2216,4.2795l0,0l0,0z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="#000000" fill="#d4aaff"/>
                    <path id="svg_6" d="m59.2166,74.5632l-0.0319,9.923l4.3801,0.0134l-6.6909,6.59489l-6.3513,-6.1485l4.1816,-0.1817l0.1318,-10.02l4.3807,-0.1811l0,0l-0.0001,0l0,0z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="#000000" fill="#ffaaff"/>
                  </g>
                  <title>Layer 1</title>
                  <g id="svg_5">
                    <ellipse ry="21.5" rx="22" cy="93.99749" cx="240.9196" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="#000000" fill="#ff007f" id="svg_7"/>
                    <path d="m219.754,91.85291l10.15401,-0.05322l-0.02301,-4.28049l6.804,6.4826l-6.237,6.259l-0.22099,-4.08489l-10.254,-0.0435l-0.22301,-4.2795l0,0l0,0z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="#000000" fill="#ffaaff" id="svg_8"/>
                    <path d="m238.408,114.2017l0.14699,-9.9221l-4.379,-0.06181l6.76601,-6.52049l6.28,6.2183l-4.183,0.1355l-0.248,10.0179l-4.383,0.1327l0,0l0,0z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="#000000" fill="#d4aaff" id="svg_9"/>
                    <path d="m261.58701,95.8518l-10.15401,0.0513l0.02299,4.2804l-6.804,-6.4838l6.23801,-6.2578l0.22099,4.0849l10.254,0.04549l0.22202,4.2795l0,0l0,0z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="#000000" fill="#d4aaff" id="svg_10"/>
                    <path d="m243.13625,74.06067l-0.03194,9.92302l4.3801,0.01345l-6.69095,6.59486l-6.35132,-6.14851l4.18161,-0.18169l0.13181,-10.02002l4.38069,-0.18111l0,0z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke="#000000" fill="#ffaaff" id="svg_11"/>
                  </g>
                  <text fill="#000000" stroke="#000000" stroke-width="0" x="55.76471" y="137.58824" id="svg_13" font-size="24" font-family="Sans-serif" text-anchor="middle" xml:space="preserve">{{data.RouterIP}}</text>
                  <text fill="#000000" stroke="#000000" stroke-width="0" x="240.47059" y="137.98039" font-size="24" font-family="Sans-serif" text-anchor="middle" xml:space="preserve" id="svg_14">{{data.PeerIP}}</text>
                  <text fill="#000000" stroke="#000000" stroke-width="0" x="55.76471" y="70.13726" font-size="24" font-family="Sans-serif" text-anchor="middle" xml:space="preserve" id="svg_15">{{data.LocalASN}}</text>
                  <text fill="#000000" stroke="#000000" stroke-width="0" x="239.29412" y="68.96079" font-size="24" font-family="Sans-serif" text-anchor="middle" xml:space="preserve" id="svg_16">{{data.PeerASN}}</text>
                  <text fill="#000000" stroke="#000000" stroke-width="0" x="56.06742" y="34.26966" id="svg_17" font-size="24" font-family="Sans-serif" text-anchor="middle" xml:space="preserve">{{data.RouterName}}</text>
                  <text fill="#000000" stroke="#000000" stroke-width="0" x="238.65169" y="33.70786" font-size="24" font-family="Sans-serif" text-anchor="middle" xml:space="preserve" id="svg_18">{{data.PeerName}}</text>
                </g>
              </svg>
              <!--END SVG-->
            </div>

            <div class="col-md-5">
              <span ng-bind-html="locationInfo"></span>
            </div>
          <!--End Expanded Peer Card-->
          </span>

            <!--Genertic info on both cards-->
            <table class="tableSummary">
              <tr>
                <th>AS Number</th>
                <th>AS Name</th>
                <th>IP</th>
              </tr>
              <tr>
                <td>{{ routerAS }}</td>
                <td>{{ routerName }}</td>
                <td>{{ routerIp }}</td>
              </tr>
            </table>

          </div>
    </div>
  </span>
</div>
