<div class="cardArea">
  <span class="glyphicon"  ng-class="{'glyphicon-plus': !cardExpand, 'glyphicon-minus': cardExpand}"
         ng-click="changeCardState()">
  </span>
  <span class="glyphicon right glyphicon-remove" ng-click="removecard(data.asn)"></span>

  <span ng-switch="cardType">
    <div class="content">
      <span ng-switch-when="router" ng-controller="RouterCardController" class="routerCard">
        <!--collasped view-->
        <div ng-hide="cardExpand" class="collapsed">
          BMP Router | {{data.asn}} | {{data.as_name}} | {{data.org_name}}
        </div>

        <!--expanded view-->
        <div ng-show="cardExpand">
            {{ data }}
            <!--router card-->
            <nvd3 options="options" data="datas"></nvd3>
            <nvd3 options="options" data="datas"></nvd3>
            <table class="tableSummary">
              <tr>
                <th>AS Number</th>
                <th>AS Name</th>
                <th>Organization Name</th>
              </tr>
              <tr>
                <td>{{data.asn}}</td>
                <td>{{data.as_name}}</td>
                <td>{{data.org_name}}</td>
              </tr>
            </table>
          <!--end router card-->
        </div>
      </span>

      <span ng-switch-when="peer" ng-controller="PeerCardController" class="peerCard">
        <!--peer card-->
          <!--collasped view-->
          <div ng-hide="cardExpand" class="collapsed">
            BMP Peer | {{data.asn}} | {{data.as_name}} | {{data.org_name}}
          </div>

          <!--expanded view-->
          <div ng-show="cardExpand">
            <!--router card-->
            {{ data }}
          </div>
        <!--end peer card-->
      </span>
    </div>
  </span>
</div>
