.pnda-logo {
  width: 20px;
  margin-right: 6px;
}

#bgpView {
  $marginLeft: 10px;
  h3 {
    margin-left: $marginLeft;
  }
  .ui-grid {
    margin: 0 $marginLeft;
    .align-right, .header-align-right {
      text-align: right;
    }
    .header-align-right {
      &>div {
        margin-right: 15px;
      }
      .ui-grid-column-menu-button-last-col {
        margin-right: 0;
      }
    }
    .ui-grid-column-menu-button {
      top: 5px;
    }
  }
  .table-container {
    margin-bottom: 30px;
  }

  .nv-container {
    position: relative;
    #nodeTooltips {
      position: absolute;
      top: 0;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 4px;
      background-color: rgba(255,255,255,0.8);
      .value {
        text-align: right;
      }
      .field,.value {
        padding: 2px 5px;
      }
      opacity: 1;
      transition: opacity .2s ease-in-out, stroke-dasharray .2s ease-in-out;
      &.hideTooltip {
        opacity: 0;
      }
    }
    svg {
      line, circle {
        transition: all .2s ease-in-out;
      }
    }
  }
}