.pnda-logo {
  width: 20px;
  margin-right: 6px;
}

#bgpView {
  $margin: 10px;
  h3 {
    margin-left: $margin;
    margin-right: $margin;
  }
  .ui-grid {
    margin: 0 $margin;
    .align-right, .header-align-right {
      text-align: right;
    }
    .align-center, .header-align-center {
      text-align: center;
    }
    .header-align-right {
      &>div {
        margin-right: 15px;
      }
      .ui-grid-column-menu-button-last-col {
        margin-right: 0;
      }
    }
    .ui-grid-column-menu-button {
      top: 5px;
    }
  }

  .merge-columns {
    width: calc(100% - 30px);
    margin-left: 15px;
  }

  #barChart {
    .tick text {// uncomment below to hide the text under the X axis of the bar chart
  //    opacity: 0 !important;
    }
  }

  .maximise {
    float: right;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    border-radius: 2px;
  }

  button.btn-icon {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    overflow: visible;
    color: #666;
    &:hover {
      color: #333;
    }
    border-radius: 2px;
    transition: background-color 0.16s ease-out, font-size 0.16s ease-out, color 0.16s ease-out;
    &:active {
      background-color: #ddd;
    }
    height: 29px;
    width: 29px;
    &.btn-maximise, &.btn-minimise {
      color: #aaa;
      &:hover {
        color: #666;
      }
    }
    &.btn-maximise:hover {
      font-size: 21px;
    }
    &.btn-minimise {
      font-size: 21px;
      &:hover {
        font-size: inherit;
      }
    }
  }

  .nv-container {
    position: relative;
    #nodeTooltips {
      position: absolute;
      top: 0;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 4px;
      background-color: rgba(255,255,255,0.8);
      .value {
        text-align: right;
      }
      .field,.value {
        padding: 2px 5px;
      }
      opacity: 1;
      transition: opacity .2s ease-in-out, stroke-dasharray .2s ease-in-out;
      &.hideTooltip {
        opacity: 0;
      }
    }
    svg {
      line, circle {
        transition: all .2s ease-in-out;
      }
      @mixin circle-style($color) {
        fill: $color;
        &:hover {
          fill: darken($color, 10%);
        }
      }
      circle.routes {
        @include circle-style(#aec7e8);
      }
      circle.origins {
        @include circle-style(#1f77b4);
      }
      //circle {
      //  //opacity: 0.8;
      //  &:hover {
      //    opacity: 1;
      //  }
      //}

      circle.progress {
        fill: none;
        //stroke-linecap: round;
        //stroke-miterlimit: 10;
        stroke-dasharray: 0;
        stroke: #171f30;
        stroke-width: 0;
        transition: 0s ease-out all;
        opacity: 0;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
      }
      circle.progress.active {
        //stroke-dasharray: 100; /* full circle: the values needs updating depending on the radius: PI * radius * 2 */
        stroke-width: 10;
        opacity: 0.5;
        transform-origin: 50% 50%;
        transform: rotate(180deg);
        transition: 2s ease-in-out all;
      }
      circle.progress.active.launch {
        stroke: #ce6800;
        stroke-width: 16px;
        opacity: 0.75;
        transition: 0.25s ease-out all;
      }

    }
    .zoom-buttons {
      height: 57px;
      width: 29px;
      position: absolute;
      right: 10px;
      //bottom: 0px;
      bottom: 34px;
      font-size: 0;
      box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
      border-radius: 2px;
      .widget-zoom-button {
        //background-color: rgba(255,255,255,1);
        display: block;
        height: 29px;
        left: 0px;
        overflow: hidden;
        position: absolute;
        cursor: pointer;
        width: 29px;
        z-index: 2;
        box-sizing: border-box;
        font-size: 11px;
        //&:hover {
        //  background-color: #eee;
        //}
      }
      .widget-zoom-button.widget-zoom-in {
        top: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-left: 1px;
        padding-top: 2px;
      }
      .widget-zoom-button.widget-zoom-out {
        bottom: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding-right: 1px;
        padding-top: 2px;
      }
      .widget-zoom-button-divider {
        background-color: rgb(90%,90%,90%);
        height: 1px;
        left: 5px;
        position: absolute;
        top: 0px;
        width: 19px;
        z-index: 3;
        transition: background-color 0.16s ease-out;
      }
    }
    .legend {
      margin-top: 4px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0,0,0,0.3);
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      width: 200px;
      text-align: center;
      font-size: 11px;
      font-style: italic;
      color: #8c8c8c;
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      padding: 8px 12px;
      line-height: 11px;
      vertical-align: top;
      position: absolute;
      bottom: 0px;
      right: 10px;
      .color-label {
        display: inline-block;
      }
      ul.colors {
        display: inline;
        padding: 0;
        margin-left: 1px;
        li {
          height: 8px;
          width: 20px;
          display: inline-block;
        }
        li+li {
          margin-left: 2px;
        }
      }
    }
  }

  .main-area.row:last-of-type {
    margin-bottom: 0;
  }

  .separator {
    margin: 10px 0;
    height: 1px;
    border-top: 1px solid #ddd;
  }

  .no-padding {
    padding: 0;
  }

  table.table.start-end {
    margin-bottom: 0;
    & > thead, & > tbody {
      &>tr {
        th, td {
          border: none;
          padding: 3px 0;
          &.input {
            min-width: 144px;
          }
        }
        th {
          padding-right: 6px;
          &.timestamp-label {
            line-height: 34px;
          }
        }
      }
    }
  }

  $arrowWidth: 26px;
  .btn-arrow {
    width: $arrowWidth;
    padding: 0;
    top: 100px;
    .btn {
      margin-top: -2px;
      margin-left: 1px;
    }
  }

  .btn-now {
    margin-top: 6px;
    margin-left: 4px;
    height: 23px;
  }
  .btn-now-no-margin {
    margin: 0;
  }

  .time-slider {
    padding-top: 4px;
    .slider {
      width: calc(100% - #{2*$arrowWidth});
    }
  }

  .time-slider-toggle-button {
    .glyphicon {
      padding-right: 4px;
    }
  }

  .data-offset {
    text-transform: none;
    font-size: 11px;
    .btn {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  #forceDirectedGraph {
    min-height: 280px;
  }
  #asPathsGraph {
    min-height: 200px;
  }

  .whois {
    height: 357px;
    td.value {
      padding-left: 10px;
    }
  }

  .clickable {
    cursor: pointer;
    &:hover {
      color: #43f0a2;
    }
  }

  .asPathLine {
    width: 100px;
    height: 2px;
    background-color: #eaeaea;
    position: absolute;
    margin-top: 45px;
  }

  .as-path {
    padding-top: 8px;
    height: 127px;
    overflow-x: hidden;
    padding-bottom: 8px;
    & + .as-path {
      border-top: 1px solid #eee;
    }
    .prefix, .timestamp {
      display: inline-block;
      min-width: 150px;
      padding-right: 20px;
      color: #aaa;
      &:hover {
        color: inherit;
      }
    }
    .as-node-name {
      text-align: center;
      position: absolute;
      left: -40px;
      top: 0px;
      width: 130px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .bmp-as_router10-17 {
      margin-top: 20px;
    }
    .as-icon-and-number {
      display: table-cell;
      &:hover {
        cursor: pointer;
      }
    }
    .as-node-count {
      position: absolute;
      top: 15px;
      right: 95px;
      color: white;
      border-radius: 3px;
      width: 20px;
      text-align: center;
    }
    $bmpRouterColor: #4b84ca;
    .bmp-bmp_router10-17 {
      color: $bmpRouterColor;
    }
    .bg-bmp-bmp_router10-17 {
      background-color: darken($bmpRouterColor, 20%);
    }
    $bmpASColor: #9467b0;
    .bmp-as_router10-17 {
      color: $bmpASColor;
    }
    .bg-bmp-as_router10-17 {
      background-color: darken($bmpASColor, 20%);
    }
    $bmpEBGPColor: #EAA546;
    .bmp-ebgp_router10-17 {
      color: $bmpEBGPColor;
    }
    .bg-bmp-ebgp_router10-17 {
      background-color: darken($bmpEBGPColor, 20%);
    }
    .as-node-default-size {
      font-size: 50px;
    }
  }

  .anomaly-box {
    padding-bottom: 50px;
    cursor: pointer;
    .name {

    }
    .occurrencesAndTrend {
      position: absolute;
      line-height: 5rem;
      .occurrences, .trend {
        display: inline-block;
      }
      .occurrences {
        font-size: 4rem;
      }
      .trend {
        vertical-align: top;
        padding-left: 3px;
        .glyphicon {
          margin-right: -3px;
        }
        &.up {
          color: red;
        }
        &.down {
          color: green;
        }
      }
    }
    &.selected {
      background-color: #fcff00;
    }
  }

  .download {
    margin: 0 10px 10px;
    a+a {
      margin-left: 10px;
    }
  }

  .grid-placeholder {
    height: 40px;
  }

  .anomaly-details+.anomaly-details {
    margin-top: 20px;
  }
}

line.nv-selectionline {
  stroke: #333;
  stroke-opacity: 0.5;
  stroke-width: 2px;
}