// Oswald font
$oswald-font-path: "../../fonts/Oswald";
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'), url('#{$oswald-font-path}/Oswald-Light.ttf'); /* IE9 Compat Modes */
  src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
  url('#{$oswald-font-path}/Oswald-ExtraLight.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$oswald-font-path}/Oswald-ExtraLight.ttf') format('woff2'), /* Super Modern Browsers */
  url('#{$oswald-font-path}/Oswald-ExtraLight.ttf') format('woff'), /* Pretty Modern Browsers */
  url('#{$oswald-font-path}/Oswald-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$oswald-font-path}/Oswald-ExtraLight.ttf') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url('#{$oswald-font-path}/Oswald-Light.ttf'); /* IE9 Compat Modes */
  src: local('Oswald Light'), local('Oswald-Light'),
  url('#{$oswald-font-path}/Oswald-Light.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$oswald-font-path}/Oswald-Light.ttf') format('woff2'), /* Super Modern Browsers */
  url('#{$oswald-font-path}/Oswald-Light.ttf') format('woff'), /* Pretty Modern Browsers */
  url('#{$oswald-font-path}/Oswald-Light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$oswald-font-path}/Oswald-Light.ttf') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url('#{$oswald-font-path}/Oswald-Regular.ttf'); /* IE9 Compat Modes */
  src: local('Oswald Regular'), local('Oswald-Regular'),
  url('#{$oswald-font-path}/Oswald-Regular.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$oswald-font-path}/Oswald-Regular.ttf') format('woff2'), /* Super Modern Browsers */
  url('#{$oswald-font-path}/Oswald-Regular.ttf') format('woff'), /* Pretty Modern Browsers */
  url('#{$oswald-font-path}/Oswald-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$oswald-font-path}/Oswald-Regular.ttf') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local('Oswald Medium'), local('Oswald-Medium'), url('#{$oswald-font-path}/Oswald-Light.ttf'); /* IE9 Compat Modes */
  src: local('Oswald Medium'), local('Oswald-Medium'),
  url('#{$oswald-font-path}/Oswald-Medium.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$oswald-font-path}/Oswald-Medium.ttf') format('woff2'), /* Super Modern Browsers */
  url('#{$oswald-font-path}/Oswald-Medium.ttf') format('woff'), /* Pretty Modern Browsers */
  url('#{$oswald-font-path}/Oswald-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$oswald-font-path}/Oswald-Medium.ttf') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: local('Oswald SemiBold'), local('Oswald-SemiBold'), url('#{$oswald-font-path}/Oswald-Light.ttf'); /* IE9 Compat Modes */
  src: local('Oswald SemiBold'), local('Oswald-SemiBold'),
  url('#{$oswald-font-path}/Oswald-SemiBold.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$oswald-font-path}/Oswald-SemiBold.ttf') format('woff2'), /* Super Modern Browsers */
  url('#{$oswald-font-path}/Oswald-SemiBold.ttf') format('woff'), /* Pretty Modern Browsers */
  url('#{$oswald-font-path}/Oswald-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$oswald-font-path}/Oswald-SemiBold.ttf') format('svg'); /* Legacy iOS */
}

/* mixins */
@mixin optional-at-root($sel) {
@at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

.pnda-logo {
  width: 20px;
  margin-right: 6px;
}

#bgpView, #dualWindowHeader {
  $top-bar-height: 143px;
  $space-below-title: 50px;
  $title-font-size: 53px;
  $title-font-size-augmented: 65px;
  $top-bar-bottom-order-height: 5px;
  $search-bar-height: 79px;
  $margin-below-search: 7px;
  $search-tip-height: 12px;
  $search-tip-font-size: 15px;
  $grey-text: #a2a2a2;

  font-family: 'Oswald';

  input:not(.ui-grid-filter-input) {
    height: $search-bar-height;
    font-size: $title-font-size-augmented;
    text-transform: uppercase;
    margin-bottom: $margin-below-search;
    padding: 6px 12px 10px;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    color: #000;
    @include placeholder {
      color: #ddd;
    }
    &#dateRangePicker {
      background-color: transparent;
      font-size: 15px;
      height: 13px;
      line-height: 12px;
      width: 300px;
      border: none;
      padding-left: 15px;
      //position: relative;
      //top: -36px;
      //float: left;
      //margin-top: -33px;
    }
  }

  .top-bar {
    height: $top-bar-height + $top-bar-bottom-order-height;
    //margin-bottom: 32px;
    .title-container {
      &:before {
        content: '';
        display: inline-block;
        height: $top-bar-height - $space-below-title;
      }
      height: $top-bar-height;
      font-size: $title-font-size;
      line-height: $title-font-size;
      text-transform: uppercase;

      .title {
        &:before {
          content: '';
          display: inline-block;
        }
        display: inline-block;
        font-size: $title-font-size-augmented;
      }
    }
    .search {
      float: right;
      width: 450px;
      position: absolute;
      top: $top-bar-height - $search-bar-height - $margin-below-search - 27px;
      right: 15px;
      .search-tip-container {
        &:before {
          content: '';
          display: inline-block;
          height: 16px;
        }
        display: inline-block;
        height: 27px;
        .search-tip {
          display: inline-block;
          font-size: $search-tip-font-size;
          height: $search-tip-height + 1px;
          line-height: $search-tip-height;
          letter-spacing: 0.1px;
          text-transform: uppercase;
          position: absolute;
          bottom: 15px;
          .search-tip-example {
            color: $grey-text;
            display: inline-block;
            font-weight: 300;
            margin-left: 3px;
          }
        }
      }
    }
    .line {
      height: $top-bar-bottom-order-height;
      background-color: #000;
    }
  }

  .error-list {
    top: -32px;
    margin-bottom: -1px;
    height: 0;
  }
}
#bgpView.securityAuditView .error-list {
  top: 0px;
}

#bgpView {
  $margin: 10px;
  h3 {
    margin-left: $margin;
    margin-right: $margin;
  }
  .ui-grid {
    margin: 0 $margin;
    .align-right, .header-align-right {
      text-align: right;
    }
    .align-center, .header-align-center {
      text-align: center;
    }
    .header-align-right {
      &>div {
        margin-right: 15px;
      }
      .ui-grid-column-menu-button-last-col {
        margin-right: 0;
      }
    }
    .ui-grid-column-menu-button {
      top: 5px;
    }
  }

  .merge-columns {
    width: calc(100% - 30px);
    margin-left: 15px;
  }

  #barChart {
    .tick text {// uncomment below to hide the text under the X axis of the bar chart
  //    opacity: 0 !important;
    }
  }

  .maximise {
    float: right;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    border-radius: 2px;
  }

  button.btn-icon {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    overflow: visible;
    color: #666;
    &:hover {
      color: #333;
    }
    border-radius: 2px;
    transition: background-color 0.16s ease-out, font-size 0.16s ease-out, color 0.16s ease-out;
    &:active {
      background-color: #ddd;
    }
    height: 29px;
    width: 29px;
    &.btn-maximise, &.btn-minimise {
      color: #aaa;
      &:hover {
        color: #666;
      }
    }
    &.btn-maximise:hover {
      font-size: 21px;
    }
    &.btn-minimise {
      font-size: 21px;
      &:hover {
        font-size: inherit;
      }
    }
  }

  .nv-container {
    position: relative;
    #nodeTooltips, #linkTooltips {
      position: absolute;
      top: 0;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 4px;
      background-color: rgba(255,255,255,0.8);
      .value {
        text-align: right;
      }
      .field,.value {
        padding: 2px 5px;
      }
      opacity: 1;
      transition: opacity .2s ease-in-out, stroke-dasharray .2s ease-in-out;
      &.hideTooltip {
        opacity: 0;
      }
    }
    svg {
      line, circle {
        transition: all .2s ease-in-out;
      }
      @mixin circle-style($color) {
        fill: $color;
        &:hover {
          fill: darken($color, 10%);
        }
      }
      circle.routes {
        @include circle-style(#aec7e8);
      }
      circle.origins {
        @include circle-style(#1f77b4);
      }
      //circle {
      //  //opacity: 0.8;
      //  &:hover {
      //    opacity: 1;
      //  }
      //}

      circle.progress {
        fill: none;
        //stroke-linecap: round;
        //stroke-miterlimit: 10;
        stroke-dasharray: 0;
        stroke: #171f30;
        stroke-width: 0;
        transition: 0s ease-out all;
        opacity: 0;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
      }
      circle.progress.active {
        //stroke-dasharray: 100; /* full circle: the values needs updating depending on the radius: PI * radius * 2 */
        stroke-width: 10;
        opacity: 0.5;
        transform-origin: 50% 50%;
        transform: rotate(180deg);
        transition: 2s ease-in-out all;
      }
      circle.progress.active.launch {
        stroke: #ce6800;
        stroke-width: 16px;
        opacity: 0.75;
        transition: 0.25s ease-out all;
      }

    }
    .zoom-buttons {
      height: 57px;
      width: 29px;
      position: absolute;
      right: 10px;
      //bottom: 0px;
      bottom: 34px;
      font-size: 0;
      box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
      border-radius: 2px;
      .widget-zoom-button {
        //background-color: rgba(255,255,255,1);
        display: block;
        height: 29px;
        left: 0px;
        overflow: hidden;
        position: absolute;
        cursor: pointer;
        width: 29px;
        z-index: 2;
        box-sizing: border-box;
        font-size: 11px;
        //&:hover {
        //  background-color: #eee;
        //}
      }
      .widget-zoom-button.widget-zoom-in {
        top: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-left: 1px;
        padding-top: 2px;
      }
      .widget-zoom-button.widget-zoom-out {
        bottom: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding-right: 1px;
        padding-top: 2px;
      }
      .widget-zoom-button-divider {
        background-color: rgb(90%,90%,90%);
        height: 1px;
        left: 5px;
        position: absolute;
        top: 0px;
        width: 19px;
        z-index: 3;
        transition: background-color 0.16s ease-out;
      }
    }
    .legend {
      margin-top: 4px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0,0,0,0.3);
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      width: 200px;
      text-align: center;
      font-size: 11px;
      font-style: italic;
      color: #8c8c8c;
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      padding: 8px 12px;
      line-height: 11px;
      vertical-align: top;
      position: absolute;
      bottom: 0px;
      right: 10px;
      .color-label {
        display: inline-block;
      }
      ul.colors {
        display: inline;
        padding: 0;
        margin-left: 1px;
        li {
          height: 8px;
          width: 20px;
          display: inline-block;
        }
        li+li {
          margin-left: 2px;
        }
      }
    }
  }

  .main-area.row:last-of-type {
    margin-bottom: 0;
  }

  .separator {
    margin: 10px 0;
    height: 1px;
    border-top: 1px solid #ddd;
  }

  .no-padding {
    padding: 0;
  }

  table.table.start-end {
    margin-bottom: 0;
    & > thead, & > tbody {
      &>tr {
        th, td {
          border: none;
          padding: 3px 0;
          &.input {
            min-width: 144px;
          }
        }
        th {
          padding-right: 6px;
          &.timestamp-label {
            line-height: 34px;
          }
        }
      }
    }
  }

  $arrowWidth: 26px;
  .btn-arrow {
    width: $arrowWidth;
    padding: 0;
    top: 100px;
    .btn {
      margin-top: -2px;
      margin-left: 1px;
    }
  }

  .btn-now {
    margin-top: 6px;
    margin-left: 4px;
    height: 23px;
  }
  .btn-now-no-margin {
    margin: 0;
  }

  .time-slider {
    padding-top: 4px;
    .slider {
      width: calc(100% - #{2*$arrowWidth});
    }
  }

  .time-slider-toggle-button {
    .glyphicon {
      padding-right: 4px;
    }
  }

  .data-offset {
    text-transform: none;
    font-size: 11px;
    .btn {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  #forceDirectedGraph {
    min-height: 280px;
  }
  #asPathsGraph {
    min-height: 200px;
  }

  .whois {
    height: 357px;
    td.value {
      padding-left: 10px;
    }
  }

  .clickable {
    cursor: pointer;
    &:hover {
      color: #43f0a2;
    }
  }

  .asPathLine {
    width: 100px;
    height: 2px;
    background-color: #eaeaea;
    position: absolute;
    margin-top: 45px;
  }

  .as-path {
    padding-top: 8px;
    height: 127px;
    overflow-x: hidden;
    padding-bottom: 8px;
    & + .as-path {
      border-top: 1px solid #eee;
    }
    .prefix, .timestamp {
      display: inline-block;
      min-width: 150px;
      padding-right: 20px;
      color: #aaa;
      &:hover {
        color: inherit;
      }
    }
    .as-node-name {
      text-align: center;
      position: absolute;
      left: -40px;
      top: 0px;
      width: 130px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .bmp-as_router10-17 {
      margin-top: 20px;
    }
    .as-icon-and-number {
      display: table-cell;
      &:hover {
        cursor: pointer;
      }
    }
    .as-node-count {
      position: absolute;
      top: 15px;
      right: 95px;
      color: white;
      border-radius: 3px;
      width: 20px;
      text-align: center;
    }
    $bmpRouterColor: #4b84ca;
    .bmp-bmp_router10-17 {
      color: $bmpRouterColor;
    }
    .bg-bmp-bmp_router10-17 {
      background-color: darken($bmpRouterColor, 20%);
    }
    $bmpASColor: #9467b0;
    .bmp-as_router10-17 {
      color: $bmpASColor;
    }
    .bg-bmp-as_router10-17 {
      background-color: darken($bmpASColor, 20%);
    }
    $bmpEBGPColor: #EAA546;
    .bmp-ebgp_router10-17 {
      color: $bmpEBGPColor;
    }
    .bg-bmp-ebgp_router10-17 {
      background-color: darken($bmpEBGPColor, 20%);
    }
    .as-node-default-size {
      font-size: 50px;
    }
  }

  .anomaly-box {
    padding-bottom: 50px;
    cursor: pointer;
    min-height: 100px;
    .name {

    }
    .occurrencesAndTrend {
      position: absolute;
      line-height: 7rem;
      .occurrences, .trend {
        display: inline-block;
      }
      .occurrences {
        font-size: 4rem;
      }
      .trend {
        vertical-align: top;
        padding-left: 3px;
        .glyphicon {
          margin-right: -3px;
        }
        &.up {
          color: red;
        }
        &.down {
          color: green;
        }
      }
    }
    &.selected {
      background-color: #fcff00;
    }
  }

  .download {
    margin: 0 10px 10px;
    a+a {
      margin-left: 10px;
    }
  }

  .grid-placeholder {
    height: 40px;
  }

  .anomaly-details+.anomaly-details {
    margin-top: 20px;
  }

  &.ASPathView {
    //font-family: 'Oswald';

    //$top-bar-height: 143px;
    //$space-below-title: 50px;
    //$title-font-size: 53px;
    //$title-font-size-augmented: 65px;
    //$top-bar-bottom-order-height: 5px;
    //$search-bar-height: 79px;
    //$margin-below-search: 7px;
    //$search-tip-height: 12px;
    //$search-tip-font-size: 15px;
    //$grey-text: #a2a2a2;
    //
    //input {
    //  height: $search-bar-height;
    //  font-size: $title-font-size-augmented;
    //  text-transform: uppercase;
    //  margin-bottom: $margin-below-search;
    //  padding: 6px 12px 10px;
    //  border: 1px solid #d7d7d7;
    //  border-radius: 2px;
    //  color: #000;
    //  @include placeholder {
    //    color: #ddd;
    //  }
    //}

    //.top-bar {
    //  height: $top-bar-height + $top-bar-bottom-order-height;
    //  margin-bottom: 32px;
    //  //border-bottom: 5px solid black;
    //  .title-container {
    //    &:before {
    //      content: '';
    //      display: inline-block;
    //      height: $top-bar-height - $space-below-title;
    //    }
    //    height: $top-bar-height;
    //    font-size: $title-font-size;
    //    line-height: $title-font-size;
    //    text-transform: uppercase;
    //
    //    .title {
    //      &:before {
    //        content: '';
    //        display: inline-block;
    //      }
    //      display: inline-block;
    //      font-size: $title-font-size-augmented;
    //    }
    //  }
    //  .search {
    //    float: right;
    //    width: 450px;
    //    position: absolute;
    //    top: $top-bar-height - $search-bar-height - $margin-below-search - 27px;
    //    right: 15px;
    //    .search-tip-container {
    //      &:before {
    //        content: '';
    //        display: inline-block;
    //        height: 16px;
    //      }
    //      display: inline-block;
    //      height: 27px;
    //      .search-tip {
    //        display: inline-block;
    //        font-size: $search-tip-font-size;
    //        height: $search-tip-height + 1px;
    //        line-height: $search-tip-height;
    //        letter-spacing: 0.1px;
    //        text-transform: uppercase;
    //        position: absolute;
    //        bottom: 15px;
    //        .search-tip-example {
    //          color: $grey-text;
    //          display: inline-block;
    //          font-weight: 300;
    //          margin-left: 3px;
    //        }
    //      }
    //    }
    //  }
    //  .line {
    //    height: $top-bar-bottom-order-height;
    //    background-color: #000;
    //  }
    //}
    .split-view {
      position: relative;
      div.split-two {
        width: 50%;
        &.left-column {
          padding-right: 0;
          border-right: 1px dashed black;
          margin-top: 32px;
        }
        &.right-column {
          padding-left: 0;
          border-left: 1px dashed black;
          position: absolute;
          //top: 0;
          top: 180px;
          right: 1px;
        }
        .input-container {
          padding: 300px 0;
          border: none;

          input.form-control {
            text-transform: none;
            border: none;
            display: block;
            width: 100%;
            line-height: 1.428571429;
            background-color: transparent;
            background-image: none;
            box-shadow: none;
            padding: 0 10px;
            text-align: center;
            &.readonly {
              color: #ddd;
              cursor: text;
            }
          }
        }
      }
      $btn-search-connections-width: 260px;
      .btn-search-connections {
        position: absolute;
        bottom: 150px;
        left: 50%;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        font-size: 25px;
        width: $btn-search-connections-width;
        margin-left: -$btn-search-connections-width/2;
        font-weight: 300;
        border-radius: 9px;
        line-height: 44px;
        border: none;
        &.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active, &.disabled.active,
        &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &[disabled].active,
        fieldset[disabled] &, fieldset[disabled] &:hover, fieldset[disabled] &:focus, fieldset[disabled] &:active, fieldset[disabled] &.active {
          opacity: 1;
          background-color: #bfbfbf;
        }
      }
      .btn-reset {
        position: absolute;
        top: 0px;
        left: 10px;
        width: 100px;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
        border-radius: 9px;
        line-height: 27px;
        padding-right: 16px;
        letter-spacing: 1px;
        border: none;
        &.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active, &.disabled.active,
        &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &[disabled].active,
        fieldset[disabled] &, fieldset[disabled] &:hover, fieldset[disabled] &:focus, fieldset[disabled] &:active, fieldset[disabled] &.active {
          opacity: 1;
          background-color: #bfbfbf;
        }
        span {
          font-size: 18px;
          padding-right: 4px;
        }
      }
      
      .middle-column {
        width: 0%;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 32px;
        .timestamp {
          top: 44px;
          position: absolute;
          left: 3px;
          font-weight: 300;
        }
        .length {
          background-color: black;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          border-radius: 50%;
          color: white;
          /* float: right; */
          position: absolute; // right: -10px;
          right: 1px;
          top: 54px;
        }
      }
      .buttons {
        text-align: center;
        .btn {
          border: none;
          text-transform: uppercase;
          background-color: transparent;
          border-radius: 8px;
        }
        .btn-active {
          background-color: #000;
          color: #fff;
          //line-height: 44px;
        }
      }

      .no-data {
        text-align: center;
        font-size: 70px;
        margin-top: 300px;
        color: #d7d7d7;
      }

      .as-path {
        $as-path-row-height: 128px;
        position: relative;
        padding: 0;
        background-color: transparent;
        & + .as-path {
          border-top: none;
        }
        .dashed-line {
          position: absolute;
          top: $as-path-row-height/2;
          border-top: 1px dashed black;
          width: 100%;
        }
        .circle {
          $diameter: 60px;
          border-radius: 50%;
          width: $diameter;
          height: $diameter;
          border: 2px solid black;
          display: inline-block;
          padding-top: $diameter/3;
          text-align: center;
          position: absolute;
          top: ($as-path-row-height - $diameter)/2;
          background-color: white;
          font-size: 14px;
          line-height: 15px;
        }
        .as-node-count {
          top: -2px;
          right: -2px;
          border-radius: 4px;
          background-color: black;
          font-size: 12px;
        }
      }
    }
  }
}

line.nv-selectionline {
  stroke: #333;
  stroke-opacity: 0.5;
  stroke-width: 2px;
}

.timeline-background {
  height: 57px;
  padding: 13px 0;
  background-color: #000;
  color: #fff;
  margin-top: -57px;
}
.timeline-arrows {
  height: 57px;
  margin-top: -58px;
  //.timeline-left-arrow, .timeline-right-arrow {
  //  width: 15px;
  //  height: 57px;
  //  background-color: #000;
  //  float: left;
  //
  //  // we want the height H to be 57px. As we rotate a square by 45 degrees (each face F has the same length), we can calculate F
  //  // so that H^2 = F^2 + F^2 => H^2 = 2 * F^2 => F = sqrt(H^2 / 2) = 40.3
  //  //$square-face-length: 40.3px;
  //  $square-face-length: 39px;
  //  transform: scaleX(0.5) rotate(-45deg);
  //  width: $square-face-length;
  //  height: $square-face-length;
  //  top: 9px;
  //  position: relative;
  //}

  $arrow-color: #000;
  $arrow-hover-color: #777;
  .timeline-left-arrow, .timeline-right-arrow {
    width: 15px;
    height: 57px;
    border-top: 28px solid transparent;
    border-bottom: 29px solid transparent;
    float: left;
    transition: border-color 0.2s;
    &:hover {
      cursor: pointer;
    }
  }
  .timeline-left-arrow {
  //  left: -4px;
    border-right: 10px solid $arrow-color;
    &:hover {
      border-right-color: $arrow-hover-color;
    }
  }
  .timeline-right-arrow {
    right: -15px;
    position: absolute;
    border-left: 10px solid $arrow-color;
    &:hover {
      border-left-color: $arrow-hover-color;
    }
  }
}
.timeline-display-container {
  $timeline-display-diameter: 46px;
  width: calc(100% - 52px);
  margin: 0 26px;
  .timeline-display {
    color: #000;
    margin-top: -52px;
    line-height: 28px;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    width: $timeline-display-diameter;
    height: $timeline-display-diameter;
    position: relative;
    float: left;
    left: 0px;
    margin-left: -$timeline-display-diameter / 2;
    text-align: center;
    .am-pm {
      font-size: 12px;
      line-height: 10px;
    }
    .days {
      line-height: 46px;
      font-size: 16px;
    }
  }
}
.timeline-ticks {
  width: calc(100% - 52px);
  margin: 0 26px;
  .timeline-tick {
    position: relative;
    left: 0;
    top: -49px;
    width: 1px;
    $dash-length: 5px;
    $dash-space-length: 1px;
    $dash-color: #b7b7b7;
    .vertical-line {
      width: 1px;
      height: 257px;
      //background-color: green;
      background: repeating-linear-gradient(transparent, transparent $dash-space-length, $dash-color $dash-space-length, $dash-color $dash-space-length + $dash-length);
      position: absolute;
      bottom: 11px;
    }
    .triangle {
      height: 17px;
      width: 17px;
      margin-left: -8px;
      background-color: black;
      position: absolute;
      bottom: -2px;
      transform: scaleX(0.55) rotate(45deg);
    }
  }
}

// style for the date time range selector
.ranges {
  $darkGrey: #666;
  font-family: 'Oswald';
  letter-spacing: 0.1px;
  li {
    font-size: 13px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #000;
    padding: 3px 12px;
    margin-bottom: 8px;
    cursor: pointer;
    &:hover {
      background-color: $darkGrey;
      border: 1px solid $darkGrey;
      color: #fff;
    }
    &.active {
      background-color: #000;
      border: 1px solid #000;
      color: #fff;
    }
  }
  button.applyBtn {
    letter-spacing: 0.2px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    &:hover {
      background-color: $darkGrey !important;
      border: 1px solid #555;
    }
  }
}