<div ng-controller="BGPController" id="bgpView">

  <div class="main-page-search hidden">
    AS Number or AS Name:
    <input id="suggestions" type="text" size="25" ng-keypress="keypress($event)" ng-model="searchValue"
           placeholder="Search ..."
           typeahead="as_name for as_name in getSuggestions($viewValue)"
           typeahead-loading="loadingLocations"
           typeahead-no-results="noResults"
           typeahead-wait-ms="300"
           typeahead-on-select="onSelect($item, $model, $label)"/>
    <span class="help-block">Examples: 109, Cisco, etc.</span>
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <!--<br/>-->
    <!--<br/>-->
    <div class="row">
      <div ng-show="nodata" class="col-md-4">
        <p ng-style="{'font-size': '20px', opacity: 0.5, align: center}">
          <i class="glyphicon glyphicon-remove"></i>
          No Results Found
        </p>
      </div>
    </div>

    <!-- date/time selector -->
    <div class="row">
      <div class="col-lg-1" style="width:4%;vertical-align: middle">
        <span class="btn btn-default" style="margin:110px 0 0 10px" ng-click="leftArrow()"><span class="glyphicon glyphicon-arrow-left"></span></span>
      </div>
      <div class="col-lg-10" style="width:91%">
        <nvd3 options="previewGraph" data="previewGraphData"></nvd3>
        <div id="timeSelector"></div>
      </div>
      <div class="col-lg-1" style="width:5%;height:100%;">
        <span class="btn btn-default pull-right" style="margin:110px 10px 0 0" ng-click="rightArrow()"><span class="glyphicon glyphicon-arrow-right"></span></span>
      </div>
    </div>
    <div class="row" style="padding:0px 25px 0px 25px; margin-top:80px">
      <div class="col-lg-5">
        <span>Start: <input type='text' class="form-control" id="startDatetimePicker"/></span>
      </div>
      <div class="col-lg-2" style="height:34px;padding:27px 0px 0px 0px;">
        <span type='text' class='label label-info' style="font-size:14px;">
          Duration: <span id="duration"></span>
        </span>
      </div>
      <div class="col-lg-5">
        <span>End:
          <span class='input-group'>
            <input type='text' class="form-control" id='endDatetimePicker'/>
              <span class="input-group-addon">
                  <span style="cursor:pointer" ng-click="setToNow()">SET TO NOW</span>
              </span>
          </span>
        </span>
      </div>
    </div>
    <div class="row" style="padding:0px 25px 0px 25px;margin-bottom:20px">
      <div class="col-lg-10" style="margin-top:30px">
        <div ng-show="filterPeerText||filterPrefixText">
          <span>Filter:</span>

          <label id="filterPeer" class="btn btn-sm btn-info filterText"
                 ng-show="filterPeerText"
                 ng-mouseover='clearOneVisible=true'
                 ng-mouseleave='clearOneVisible=false;'
                 ng-click="clearFilter('peer')">
            Peer: {{filterPeerText}}
            <span ng-show="clearOneVisible" class="glyphicon glyphicon-remove" style="font-size:13px"></span>
          </label>

          <label id="filterPrefix" class="btn btn-sm btn-warning filterText"
                 ng-show="filterPrefixText"
                 ng-mouseover='clearTwoVisible=true'
                 ng-mouseleave='clearTwoVisible=false'
                 ng-click="clearFilter('prefix')">
            Prefix: {{filterPrefixText}}
            <span ng-show="clearTwoVisible" class="glyphicon glyphicon-remove" style="font-size:13px"></span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="main-area row" ng-init="obj={maximiseForceDirectedGraph:false}" ng-class="{hidden: obj.maximiseForceDirectedGraph}">
    <div class="table-container col-lg-12 merge-columns">
      <div class="col-lg-8">
        <h3>Prefixes originated and transitted per AS</h3>
        <nvd3 options="barChartOptions" data="barChartData" id="barChart"></nvd3>
      </div>

      <div class="col-lg-4">
        <h3>Controls
          <button ng-if="!error" class="btn btn-success btn-xs right" ng-click="triggerDataUpdate()">trigger data update notification from server</button>
        </h3>

        <div class="loading-section">
          <div ng-show="loadingASList" bmp-loading loading-var="loadingASList"></div>
          <div class="grid" ui-grid-auto-resize ui-grid-resize-columns="true" ui-grid="asListGridOptions"
               ng-style="{'height': asListGridOptions.height}">
            <div class="watermark" ng-if="!asListGridOptions.data.length">No data available</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-area row">
    <div class="col-lg-12">
      <div class="table-container" id="forceDirectedGraph">
        <h3>
          AS Links
          <div class="maximise">
            <!--<button class="btn btn-default glyphicon glyphicon-resize-full" ng-if="!obj.maximiseForceDirectedGraph"></button>-->
            <button class="button btn-icon btn-maximise" ng-if="!obj.maximiseForceDirectedGraph" ng-click="obj.maximiseForceDirectedGraph = true">
              <span class="glyphicon glyphicon-resize-full"></span>
            </button>
            <!--<div class="glyphicon glyphicon-resize-small" ng-if="maximiseForceDirectedGraph"></div>-->
            <button class="button btn-icon btn-minimise" ng-if="obj.maximiseForceDirectedGraph" ng-click="obj.maximiseForceDirectedGraph = false">
              <span class="glyphicon glyphicon-resize-small"></span>
            </button>
          </div>
        </h3>
        <div class="nv-container">
          <nvd3 options="forceDirectedGraph.options" data="forceDirectedGraph.data" class="with-3d-shadow with-transitions"></nvd3>
          <div id="nodeTooltips" class="hideTooltip">
            <table>
              <tr ng-repeat="field in tooltipFields" id="field-{{field}}">
                <td class="field">{{field}}</td>
                <td class="value">-</td>
              </tr>
            </table>
          </div>
          <div class="zoom-buttons">
            <button aria-label="Zoom in" id="widget-zoom-in" class="btn-icon widget-zoom-button widget-zoom-in" ng-click="zoomIn()">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button aria-label="Zoom out" id="widget-zoom-out" class="btn-icon widget-zoom-button widget-zoom-out">
              <span class="glyphicon glyphicon-minus"></span>
              <div class="widget-zoom-button-divider"></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



