<div ng-controller="BGPController" id="bgpView" ng-init="obj={maximiseForceDirectedGraph:false}">

  <div class="main-page-search" ng-class="{hidden: obj.maximiseForceDirectedGraph}">
    <!--<button class="btn btn-danger" ng-click="cancelAllHttpRequests()">Cancel http requests</button>-->
    AS Number or prefix:
    <input id="suggestions" type="text" size="25" ng-keypress="keypress($event)" ng-model="searchValue"
           placeholder="Search ..."
           typeahead="as_name for as_name in getSuggestions($viewValue)"
           typeahead-loading="loadingLocations"
           typeahead-no-results="noResults"
           typeahead-wait-ms="300"
           typeahead-on-select="onSelect($item, $model, $label)"/>
    <span class="help-block">Examples: 109, 1.0.128.0/17, 1.0.*</span>
    <button type="button" class="btn btn-xs btn-default" ng-show="displayASNInfo || displayPrefixInfo" ng-click="changeLocation()">
      <span class="glyphicon glyphicon-remove"></span>
      reset
    </button>
    <button type="button" class="btn btn-sm right time-slider-toggle-button" ng-class="{'btn-success': !dateFilterOn, 'btn-danger': dateFilterOn}" ng-click="dateFilterOn = !dateFilterOn">
      <span class="glyphicon" ng-class="{'glyphicon-plus': !dateFilterOn, 'glyphicon-minus': dateFilterOn}"></span>
      Date/time filter
    </button>
    <!--<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>-->

    <div class="row">
      <div ng-show="nodata" class="col-md-4">
        <p ng-style="{'font-size': '20px', opacity: 0.5, align: center}">
          <i class="glyphicon glyphicon-remove"></i>
          No Results Found
        </p>
      </div>
    </div>

    <div ng-class="{hidden: !dateFilterOn}">
      <div class="separator"></div>

      <!-- date/time selector -->
      <div class="row">
        <div class="col-lg-2">
          <table class="table start-end">
            <tr>
              <th class="timestamp-label">Start:</th>
              <td class="input"><input type='text' class="form-control" id="startDatetimePicker"/></td>
              <td></td>
            </tr>
            <tr>
              <th class="timestamp-label">End:</th>
              <td class="input"><input type='text' class="form-control" id="endDatetimePicker"/></td>
              <td>
                <button class="btn btn-primary btn-xs btn-now" ng-click="setToNow()">now</button>
              </td>
            </tr>
            <tr>
              <th>Duration:</th>
              <td id="duration"></td>
            </tr>
          </table>
        </div>

        <div class="col-lg-10 time-slider">
          <div class="col-lg-1 btn-arrow">
            <span class="btn btn-default btn-xs" ng-click="leftArrow()"><span class="glyphicon glyphicon-arrow-left"></span></span>
          </div>
          <div class="col-lg-10 slider">
            <nvd3 options="previewGraph" data="previewGraphData"></nvd3>
            <div id="timeSelector"></div>
          </div>
          <div class="col-lg-1 btn-arrow">
            <span class="btn btn-default btn-xs" ng-click="rightArrow()"><span class="glyphicon glyphicon-arrow-right"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- THIS SECTION IS FOR DISPLAYING INFORMATION ABOUT ALL AS NODES -->

  <div class="main-area row" ng-show="displayAllNodes" ng-class="{hidden: obj.maximiseForceDirectedGraph}">
    <div class="table-container col-lg-12 merge-columns">
      <div class="col-lg-8">
        <h3>Prefixes originated and transitted per AS</h3>
        <nvd3 options="barChartOptions" data="barChartData" id="barChart"></nvd3>
      </div>

      <div class="col-lg-4">
        <h3>Controls
          <!--<button ng-if="!error" class="btn btn-success btn-xs right" ng-click="triggerDataUpdate()">trigger update from server</button>-->
          <div ng-if="!error" class="data-offset right">
            <span class="btn btn-default btn-xs" ng-click="previousData()"><span class="glyphicon glyphicon-arrow-left"></span></span>
            Results {{offset}} to {{offset+limit}}
            <span class="btn btn-default btn-xs" ng-click="nextData()"><span class="glyphicon glyphicon-arrow-right"></span></span>
          </div>
        </h3>

        <div class="loading-section">
          <div ng-show="loadingASList" bmp-loading></div>
          <div class="grid" ui-grid-auto-resize ui-grid-resize-columns="true" ui-grid="asListGridOptions"
               ng-style="{'height': asListGridOptions.height}">
            <div class="watermark" ng-if="!asListGridOptions.data.length">No data available</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- THIS SECTION DISPLAYS INFORMATION FOR A SPECIFIC AS NODE -->
  <!--<div class="main-area row" ng-show="displayASNInfo">-->
  <div class="main-area row" ng-show="!nodata && !obj.maximiseForceDirectedGraph && displayASNInfo">
    <!-- WhoIs info and prefixes -->
    
    <div class="col-lg-6">
      <div class="table-container whois">
        <h3>AS {{asn}} Information</h3>
        <div class="preStyle" style="height: {{prefixGridInitHeight}}px">
          <table class="tableStyle">
            <tbody>
            <tr ng-repeat="row in asnDetails">
              <td>{{row.key}}</td>
              <td class="value">{{row.value}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="table-container">
        <h3>Prefixes with AS Path containing AS {{asn}}</h3>

        <div class="loading-section">
          <div ng-show="loadingPrefixes" bmp-loading font-width="50"></div>
          <div ui-grid="prefixGridOptions" ui-grid-auto-resize ng-style="{'height': prefixGridOptions.height}"></div>
          <div class="watermark" ng-if="!prefixGridOptions.data.length">No data available</div>
        </div>
      </div>
    </div>
  </div>

  <!-- THIS SECTION DISPLAYS A D3 GRAPH FOR A SPECIFIC AS NODE -->

  <div class="main-area row" ng-show="displayASNInfo">
    <!-- force directed graph -->
    <div class="col-lg-12">
      <div class="table-container" id="forceDirectedGraph" data-ng-show="showDirectedGraph">
        <h3>
          AS Links
          <div class="maximise">
            <!--<button class="btn btn-default glyphicon glyphicon-resize-full" ng-if="!obj.maximiseForceDirectedGraph"></button>-->
            <button class="button btn-icon btn-maximise" ng-if="!obj.maximiseForceDirectedGraph" ng-click="obj.maximiseForceDirectedGraph = true">
              <span class="glyphicon glyphicon-resize-full"></span>
            </button>
            <!--<div class="glyphicon glyphicon-resize-small" ng-if="maximiseForceDirectedGraph"></div>-->
            <button class="button btn-icon btn-minimise" ng-if="obj.maximiseForceDirectedGraph" ng-click="obj.maximiseForceDirectedGraph = false">
              <span class="glyphicon glyphicon-resize-small"></span>
            </button>
          </div>
        </h3>
        <div class="loading-section">
          <div ng-show="loadingASNodesAndLinksData" bmp-loading font-width="50"></div>
        </div>
        <div class="nv-container">
          <nvd3 options="forceDirectedGraph.options" data="forceDirectedGraph.data" class="with-3d-shadow with-transitions"></nvd3>
          <div id="nodeTooltips" class="hideTooltip">
            <table>
              <tr ng-repeat="field in tooltipFields" id="field-{{field}}">
                <td class="field">{{field}}</td>
                <td class="value">-</td>
              </tr>
            </table>
          </div>
          <div class="zoom-buttons" ng-show="!loadingASNodesAndLinksData">
            <button aria-label="Zoom in" id="widget-zoom-in" class="btn-icon widget-zoom-button widget-zoom-in" ng-click="controlZoom('zoom_in')">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button aria-label="Zoom out" id="widget-zoom-out" class="btn-icon widget-zoom-button widget-zoom-out" ng-click="controlZoom('zoom_out')">
              <span class="glyphicon glyphicon-minus"></span>
              <div class="widget-zoom-button-divider"></div>
            </button>
          </div>
          <div class="legend" ng-show="!loadingASNodesAndLinksData">
            <div class="color-label">Unstable</div>
            <ul class="colors">
              <li ng-repeat="c in stabilityColors" style="background-color: {{c.color}}"></li>
            </ul>
            <div class="color-label">Stable</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- THIS SECTION DISPLAYS INFORMATION FOR A SPECIFIC PREFIX -->

  <!--<div class="main-area row" ng-show="displayASNInfo">-->
  <div class="main-area row" ng-show="!nodata && !obj.maximiseForceDirectedGraph && displayPrefixInfo">
    <!-- prefixes -->
    <div class="col-lg-12">
      <div class="table-container">
        <h3>Prefixes starting with {{prefix}}</h3>

        <div class="loading-section">
          <div ng-show="loadingPrefixes" bmp-loading font-width="50"></div>
          <div ui-grid="prefixViewGridOptions" ui-grid-auto-resize ng-style="{'height': prefixGridOptions.height}"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- THIS SECTION DISPLAYS A D3 GRAPH FOR A SPECIFIC PREFIX -->

  <div class="main-area row" ng-show="displayPrefixInfo">
    <!-- AS paths graph -->
    <div class="col-lg-12">
      <div class="table-container" id="asPathForceDirectedGraph">
        <h3>AS Paths</h3>
        <div class="loading-section">
          <div ng-show="loadingPrefixes" bmp-loading font-width="50"></div>
        </div>

        <div class="as-path" ng-repeat="as_path in asPathGraph.paths">
          <div ng-style="{'width':config.width}">
            <div ng-repeat="path in as_path.as_path" ng-style="{'width': path.addWidth}"
                 style="position: relative;float: left;">
              <!--icon-->
              <div style="display: table-cell;">
                <span ng-if="path.noTopText">
                  <div style="text-align: center">&nbsp;</div>
                </span>

                <span ng-if="!path.noTopText">
                  <div style="text-align: center" tooltip="{{path.topVal}}" tooltip-append-to-body="true">{{ wordCheck(path.topVal) }}</div>
                </span>

                <!--This is the actual AS icon-->
                <div class="{{ path.icon }}" style="font-size: 50px" ng-style="{'color':path.colour}"
                     data-content="{{path.popOut}}" data-html="true" popover-placement="right"
                     popover-trigger="mouseenter" popover="{{path.popOut}}" popover-append-to-body="true"></div>
                <div style="text-align: center">{{ path.botVal }}</div>
              </div>
              <!--line-->
              <div style="display: table-cell;" ng-if="path.isEnd">
                <div class="asPathLine" ng-style="{'width':config.lineWidth}"></div>
              </div>
            </div>
          </div>
        </div>


        <!-- TODO: remove after testing -->
        <!--
        <div class="as-path" ng-repeat="as_path in testAsPathGraph.testData.paths">
          <div ng-style="{'width':config.width}">
            <div ng-repeat="path in as_path.as_path" ng-style="{'width': path.addWidth}"
                 style="position: relative;float: left;">
              <div style="display: table-cell;">
                <span ng-if="path.noTopText">
                  <div style="text-align: center">&nbsp;</div>
                </span>

                <span ng-if="!path.noTopText">
                  <div style="text-align: center" tooltip="{{path.topVal}}" tooltip-append-to-body="true">{{ wordCheck(path.topVal) }}</div>
                </span>

                <div class="{{ path.icon }}" id="here" style="font-size: 50px" ng-style="{'color':path.colour}"
                     data-content="{{path.popOut}}" data-html="true" popover-placement="right"
                     popover-trigger="mouseenter" popover="{{path.popOut}}" popover-append-to-body="true"></div>
                <div style="text-align: center">{{ path.botVal }}</div>
              </div>
              <div style="display: table-cell;" ng-if="path.isEnd">
                <div
                        style="width: 100px;height: 2px;background-color:#eaeaea;position: absolute;margin-top: 45px;"
                        ng-style="{'width':config.lineWidth}"></div>
              </div>
            </div>
          </div>
        </div>
-->


      </div>
    </div>
  </div>

</div>



