<div ng-controller="BGPASPathController" id="bgpView" class="ASPathView">

  <!-- top bar -->
  <div class="col-lg-12 top-bar">
    <div class="title-container">
      <div class="title">BGP</div>
    </div>
    <div class="search">
      <input type='text' class="form-control" id="searchValue" ng-model="searchValue" placeholder="search"
             typeahead="as_name for as_name in getSuggestions($viewValue)"
             typeahead-loading="loadingLocations"
             typeahead-no-results="noResults"
             typeahead-wait-ms="300"
             typeahead-on-select="onSelectSearch($label)"/>
      <div class="search-tip-container">
        <div class="search-tip">
          Type AS name or AS number or prefix
          <div class="search-tip-example">ex: Cisco, 109, 1.0.128.0/17, 1.0*</div>
        </div>
      </div>
    </div>
    <div class='line'></div>
  </div>

  <div class="split-view">
    <div class="col-lg-5 split-two left-column">
      <div class="input-container">
        <button class="btn btn-default btn-reset" id="btnReset" ng-click="reset()">
          <span class="glyphicon glyphicon-remove"></span>
          Reset
        </button>
        <input type='text' class="form-control as-input" id="as1" ng-model="as1_name"
               ng-keydown="onKeyDown('as1', $event)"
               placeholder="Source AS"
               typeahead="as_name for as_name in getSuggestions($viewValue)"
               typeahead-loading="loadingLocations"
               typeahead-no-results="noResults"
               typeahead-wait-ms="300"
               typeahead-on-select="onSelect('as1', $label)"/>
        <input type='text' class="form-control readonly" ng-model="as1_number" readonly />
      </div>
    </div>
    <div class="col-lg-2 middle-column">
      <div class="buttons">
        <button class="btn btn-default" ng-repeat="(key, button) in buttons" ng-class="{'btn-active': button.active}" ng-click="onButtonClick(key)">{{key}}</button>
      </div>
      <div id="asPaths">
        <div class="no-data" ng-if="asPaths.length === 0">
          No data
        </div>
        <div class="as-path" ng-repeat="path in asPaths">
          <div class="dashed-line"></div>
          <div ng-repeat="(index, asInfo) in path.as_path" class="circle" ng-style="{left: asInfo.position}">
            {{asInfo.asn}}
            <div class="as-node-count bg-{{ path.icon }}" ng-if="asInfo.count > 1">{{asInfo.count}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 split-two right-column">
      <div class="input-container">
        <input type='text' class="form-control as-input" id="as2" ng-model="as2_name"
               ng-keydown="onKeyDown('as2', $event)"
               placeholder="Destination AS"
               typeahead="as_name for as_name in getSuggestions($viewValue)"
               typeahead-loading="loadingLocations"
               typeahead-no-results="noResults"
               typeahead-wait-ms="300"
               typeahead-on-select="onSelect('as2', $label)"/>
        <input type='text' class="form-control readonly" ng-model="as2_number" readonly />
      </div>
    </div>
    <div class="col-lg-12" id="btn-search-container">
      <button class="btn btn-default btn-search-connections" id="btnSearchConnections" ng-disabled="!readyToSearchConnections" ng-click="startSearch()">Search connections</button>
    </div>
  </div>

</div>



