<div ng-controller="BGPSecurityAuditController" id="bgpView" class="securityAuditView">

  <div class="main-page-search">
    <div style="min-height: 180px">
      <!-- date/time selector -->
      <div class="row">
        <div class="col-lg-2">
          <table class="table start-end">
            <tr>
              <th class="timestamp-label">Start:</th>
              <td class="input"><input type='text' class="form-control" id="startDatetimePicker"/></td>
            </tr>
            <tr>
              <th class="timestamp-label">End:</th>
              <td class="input"><input type='text' class="form-control" id="endDatetimePicker"/></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button class="btn btn-primary btn-xs btn-now-no-margin" ng-click="setToNow()">now</button>
              </td>
            </tr>
            <tr>
              <th>Duration:</th>
              <td id="duration"></td>
            </tr>
            <tr>
              <th>Selection:</th>
              <td>{{selectedTime | date:'MM/dd/yyyy HH:mm'}}</td>
            </tr>
          </table>
        </div>

        <div class="col-lg-10 time-slider">
          <div class="col-lg-1 btn-arrow">
            <span class="btn btn-default btn-xs" ng-click="leftArrow()"><span class="glyphicon glyphicon-arrow-left"></span></span>
          </div>
          <div class="col-lg-10 slider">
            <div class="loading-section">
              <div ng-show="loadingAnomalies" bmp-loading font-width="50"></div>
              <nvd3 options="previewGraph" data="previewGraphData"></nvd3>
              <div id="timeSelector"></div>
            </div>
          </div>
          <div class="col-lg-1 btn-arrow">
            <span class="btn btn-default btn-xs" ng-click="rightArrow()"><span class="glyphicon glyphicon-arrow-right"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- anomaly overview boxes -->
  <div class="main-area row">
    <div class="col-lg-3" ng-repeat="view in previewGraphData" ng-click="toggleAnomalyDetails(view)">
      <div class="table-container anomaly-box" ng-class="{selected: anomalyDetails[view.id].show}">
        <div class="name">{{view.key}}</div>
        <div class="loading-section">
          <div ng-show="view.loading" bmp-loading font-width="50"></div>
        </div>
        <div ng-show="!view.loading" class="occurrencesAndTrend">
          <div class="occurrences">{{view.occurrences}}</div>
          <div class="trend" ng-class="view.trend">
            <span class="glyphicon glyphicon-arrow-up" ng-if="view.trend === 'up'"></span>
            <span class="glyphicon glyphicon-arrow-down" ng-if="view.trend === 'down'"></span>
            <span class="glyphicon glyphicon-minus" ng-if="view.trend === 'stable'"></span>
            {{view.difference > 0 ? view.difference : ''}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- anomaly details -->
  <div class="main-area row">
    <div class="col-lg-12 anomaly-details" ng-repeat="(anomaly, details) in anomalyDetails" ng-show="details.show">
      <div class="table-container">
        <h3>{{details.displayTitle}}</h3>
        <div class="download" ng-show="details.json !== undefined || details.groundTruthLink !== undefined">
          Download data: <a ng-href="{{details.json}}" target="dataTab" ng-show="details.json !== undefined">JSON</a><a ng-href="{{details.groundTruthLink}}" target="groundTruthTab" ng-show="details.groundTruthLink !== undefined">ground truth</a>
        </div>
        <div class="loading-section">
          <div ng-show="details.loadingAnomalyDetails" bmp-loading font-width="50"></div>
          <div ng-if="!details.gridReady" class="grid-placeholder"></div>
          <div ng-if="details.gridReady" ui-grid="details.grid" ui-grid-resize-columns ng-style="{'height': anomalyGridHeight}"></div>
        </div>
      </div>
    </div>
  </div>
</div>



