<div ng-controller="BGPSecurityAuditController" id="bgpView" class="securityAuditView">

  <!-- THIS SECTION DISPLAYS ERRORS -->
  <div class="error-list col-lg-12" ng-show="api_errors.length > 0">
    <div class="alert alert-danger">
      <div ng-repeat="api_error in api_errors">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{api_error}}
      </div>
    </div>
  </div>

  <div class="scrollable">
  <!--<line-graph-time-selector graph="overviewGraph" graph-data="previewGraphData" changed-dates-callback="changedDates(newDates)"></line-graph-time-selector>-->
  <line-graph-time-selector graph="overviewGraph" graph-data="previewGraphData" changed-dates-callback="changedDates(newDates)"
                            graph-height="graphHeight" loading-graph="loadingAnomalies"></line-graph-time-selector>

  <!-- anomaly overview boxes -->
  <div class="main-area clearfix move-up" id="anomalyBoxes">
    <div class="col-sm-2 col-md-2 col-lg-2" ng-repeat="view in previewGraphData" ng-click="toggleAnomalyDetails(view)">
      <div class="table-container anomaly-box" ng-class="{selected: anomalyDetails[view.id].show}">
        <div class="name">{{view.key}}</div>
        <div class="loading-section">
          <div ng-show="view.loading" bmp-loading font-width="50"></div>
        </div>
        <div ng-show="!view.loading" class="occurrencesAndTrend">
          <div class="occurrences">{{view.occurrences}}</div>
          <div class="trend" ng-class="view.trend">
            <span class="glyphicon glyphicon-arrow-up" ng-if="view.trend === 'up'"></span>
            <span class="glyphicon glyphicon-arrow-down" ng-if="view.trend === 'down'"></span>
            <span class="glyphicon glyphicon-minus" ng-if="view.trend === 'stable'"></span>
            {{view.difference > 0 ? view.difference : ''}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- anomaly details -->
  <div class="main-area clearfix">
    <div class="col-sm-12 col-md-12 col-lg-12 anomaly-details" ng-repeat="(anomaly, details) in anomalyDetails" ng-show="details.show">
      <div class="table-container">
        <h3>{{details.displayTitle}}</h3>
        <div class="download" ng-show="details.json !== undefined || details.groundTruthLink !== undefined">
          Download data:
          <a ng-href="{{details.json}}" target="dataTab" ng-show="details.json !== undefined">JSON</a>
          <a ng-href="{{details.csv}}" target="dataTab" ng-show="details.csv !== undefined">CSV</a>
          <a ng-href="{{details.groundTruthLink}}" target="groundTruthTab" ng-show="details.groundTruthLink !== undefined">ground truth</a>
        </div>
        <div class="loading-section">
          <div ng-show="details.loadingAnomalyDetails" bmp-loading font-width="50"></div>
          <div ng-if="!details.gridReady" class="grid-placeholder"></div>
          <div ng-if="details.gridReady" ui-grid="details.grid" ui-grid-resize-columns ng-style="{'height': anomalyGridHeight}"></div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>



